openapi: 3.2.0
info:
  title: DataFactoryManagementClient Triggers API
  version: '2018-06-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Triggers
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/querytriggers
  : post:
      operationId: Triggers_QueryByFactory
      tags:
      - Triggers
      description: Query triggers.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerQueryResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Triggers_QueryByFactory:
          $ref: ./examples/Triggers_QueryByFactory.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerFilterParameters'
        description: Parameters to filter the triggers.
        required: true
      summary: Triggers query by factory
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers
  : get:
      operationId: Triggers_ListByFactory
      tags:
      - Triggers
      description: Lists triggers.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Triggers_ListByFactory:
          $ref: ./examples/Triggers_ListByFactory.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Triggers list by factory
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}
  : put:
      operationId: Triggers_CreateOrUpdate
      tags:
      - Triggers
      description: Creates or updates a trigger.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: triggerName
        in: path
        description: The trigger name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      - name: if-match
        in: header
        description: ETag of the trigger entity.  Should only be specified for update, for which it should match existing entity or can be * for unconditional update.
        required: false
        x-ms-client-name: If-Match
        schema:
          type: string
      responses:
        '200':
          description: Resource 'TriggerResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Triggers_Create:
          $ref: ./examples/Triggers_Create.json
        Triggers_Update:
          $ref: ./examples/Triggers_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerResource'
        description: Trigger resource definition.
        required: true
      summary: Triggers create or update
      x-summary-source: derived
    delete:
      operationId: Triggers_Delete
      tags:
      - Triggers
      description: Deletes a trigger.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: triggerName
        in: path
        description: The trigger name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Triggers_Delete:
          $ref: ./examples/Triggers_Delete.json
      summary: Triggers delete
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}/getEventSubscriptionStatus
  : post:
      operationId: Triggers_GetEventSubscriptionStatus
      tags:
      - Triggers
      description: Get a trigger's event subscription status.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: triggerName
        in: path
        description: The trigger name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerSubscriptionOperationStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Triggers_GetEventSubscriptionStatus:
          $ref: ./examples/Triggers_GetEventSubscriptionStatus.json
      summary: Triggers get event subscription status
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}/start
  : post:
      operationId: Triggers_Start
      tags:
      - Triggers
      description: Starts a trigger.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: triggerName
        in: path
        description: The trigger name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      responses:
        '200':
          description: The request has succeeded.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Triggers_Start:
          $ref: ./examples/Triggers_Start.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Triggers start
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}/stop
  : post:
      operationId: Triggers_Stop
      tags:
      - Triggers
      description: Stops a trigger.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: triggerName
        in: path
        description: The trigger name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      responses:
        '200':
          description: The request has succeeded.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Triggers_Stop:
          $ref: ./examples/Triggers_Stop.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Triggers stop
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}/subscribeToEvents
  : post:
      operationId: Triggers_SubscribeToEvents
      tags:
      - Triggers
      description: Subscribe event trigger to events.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: triggerName
        in: path
        description: The trigger name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerSubscriptionOperationStatus'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Triggers_SubscribeToEvents:
          $ref: ./examples/Triggers_SubscribeToEvents.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/TriggerSubscriptionOperationStatus'
      x-ms-long-running-operation: true
      summary: Triggers subscribe to events
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}/unsubscribeFromEvents
  : post:
      operationId: Triggers_UnsubscribeFromEvents
      tags:
      - Triggers
      description: Unsubscribe event trigger from events.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: triggerName
        in: path
        description: The trigger name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerSubscriptionOperationStatus'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Triggers_UnsubscribeFromEvents:
          $ref: ./examples/Triggers_UnsubscribeFromEvents.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/TriggerSubscriptionOperationStatus'
      x-ms-long-running-operation: true
      summary: Triggers unsubscribe from events
      x-summary-source: derived
components:
  schemas:
    EventSubscriptionStatus:
      type: string
      description: Event Subscription Status.
      enum:
      - Enabled
      - Provisioning
      - Deprovisioning
      - Disabled
      - Unknown
      x-ms-enum:
        name: EventSubscriptionStatus
        modelAsString: true
        values:
        - name: Enabled
          value: Enabled
          description: Enabled
        - name: Provisioning
          value: Provisioning
          description: Provisioning
        - name: Deprovisioning
          value: Deprovisioning
          description: Deprovisioning
        - name: Disabled
          value: Disabled
          description: Disabled
        - name: Unknown
          value: Unknown
          description: Unknown
    TriggerSubscriptionOperationStatus:
      type: object
      description: Defines the response of a trigger subscription operation.
      properties:
        triggerName:
          type: string
          description: Trigger name.
          readOnly: true
        status:
          $ref: '#/components/schemas/EventSubscriptionStatus'
          description: Event Subscription Status.
          readOnly: true
    Trigger:
      type: object
      description: Azure data factory nested object which contains information about creating pipeline run
      properties:
        type:
          type: string
          description: Trigger type.
        description:
          type: string
          description: Trigger description.
        runtimeState:
          $ref: '#/components/schemas/TriggerRuntimeState'
          description: Indicates if trigger is running or not. Updated when Start/Stop APIs are called on the Trigger.
          readOnly: true
        annotations:
          type: array
          description: List of tags that can be used for describing the trigger.
          items: {}
      discriminator:
        propertyName: type
      required:
      - type
      additionalProperties: {}
    CloudErrorBody:
      type: object
      description: The object that defines the structure of an Azure Data Factory error.
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Property name/path in request associated with error.
        details:
          type: array
          description: Array with additional error details.
          items:
            $ref: '#/components/schemas/CloudError'
          x-ms-identifiers: []
      required:
      - code
      - message
      x-ms-external: true
    TriggerQueryResponse:
      type: object
      description: A query of triggers.
      properties:
        value:
          type: array
          description: List of triggers.
          items:
            $ref: '#/components/schemas/TriggerResource'
        continuationToken:
          type: string
          description: The continuation token for getting the next page of results, if any remaining results exist, null otherwise.
      required:
      - value
    TriggerListResponse:
      type: object
      description: A list of trigger resources.
      properties:
        value:
          type: array
          description: The TriggerResource items on this page
          items:
            $ref: '#/components/schemas/TriggerResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    CloudError:
      type: object
      description: The object that defines the structure of an Azure Data Factory error response.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Error data
          x-ms-client-flatten: true
      required:
      - error
      x-ms-external: true
    TriggerRuntimeState:
      type: string
      description: Enumerates possible state of Triggers.
      enum:
      - Started
      - Stopped
      - Disabled
      x-ms-enum:
        name: TriggerRuntimeState
        modelAsString: true
        values:
        - name: Started
          value: Started
          description: Started
        - name: Stopped
          value: Stopped
          description: Stopped
        - name: Disabled
          value: Disabled
          description: Disabled
    TriggerResource:
      type: object
      description: Trigger resource type.
      properties:
        properties:
          $ref: '#/components/schemas/Trigger'
          description: Properties of the trigger.
        etag:
          type: string
          description: '"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.")'
          readOnly: true
      required:
      - properties
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource
    TriggerFilterParameters:
      type: object
      description: Query parameters for triggers.
      properties:
        continuationToken:
          type: string
          description: The continuation token for getting the next page of results. Null for first page.
        parentTriggerName:
          type: string
          description: The name of the parent TumblingWindowTrigger to get the child rerun triggers
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
