openapi: 3.2.0
info:
  title: DataFactoryManagementClient Data Flow Debug Session API
  version: '2018-06-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: dataFlowDebugSession
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/addDataFlowToDebugSession
  : post:
      operationId: DataFlowDebugSession_AddDataFlow
      tags:
      - dataFlowDebugSession
      description: Add a data flow into debug session.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddDataFlowToDebugSessionResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DataFlowDebugSession_AddDataFlow:
          $ref: ./examples/DataFlowDebugSession_AddDataFlow.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFlowDebugPackage'
        description: Data flow debug session definition with debug content.
        required: true
      summary: Data flow debug session add data flow
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/createDataFlowDebugSession
  : post:
      operationId: DataFlowDebugSession_Create
      tags:
      - dataFlowDebugSession
      description: Creates a data flow debug session.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDataFlowDebugSessionResponse'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DataFlowDebugSession_Create:
          $ref: ./examples/DataFlowDebugSession_Create.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/CreateDataFlowDebugSessionResponse'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDataFlowDebugSessionRequest'
        description: Data flow debug session definition
        required: true
      summary: Data flow debug session create
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/deleteDataFlowDebugSession
  : post:
      operationId: DataFlowDebugSession_Delete
      tags:
      - dataFlowDebugSession
      description: Deletes a data flow debug session.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: The request has succeeded.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DataFlowDebugSession_Delete:
          $ref: ./examples/DataFlowDebugSession_Delete.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDataFlowDebugSessionRequest'
        description: Data flow debug session definition for deletion
        required: true
      summary: Data flow debug session delete
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/executeDataFlowDebugCommand
  : post:
      operationId: DataFlowDebugSession_ExecuteCommand
      tags:
      - dataFlowDebugSession
      description: Execute a data flow debug command.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFlowDebugCommandResponse'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DataFlowDebugSession_ExecuteCommand:
          $ref: ./examples/DataFlowDebugSession_ExecuteCommand.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/DataFlowDebugCommandResponse'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFlowDebugCommandRequest'
        description: Data flow debug command definition.
        required: true
      summary: Data flow debug session execute command
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/queryDataFlowDebugSessions
  : post:
      operationId: DataFlowDebugSession_QueryByFactory
      tags:
      - dataFlowDebugSession
      description: Query all active data flow debug sessions.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDataFlowDebugSessionsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DataFlowDebugSession_QueryByFactory:
          $ref: ./examples/DataFlowDebugSession_QueryByFactory.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Data flow debug session query by factory
      x-summary-source: derived
components:
  schemas:
    SubResourceDebugResource:
      type: object
      description: Azure Data Factory nested debug resource.
      properties:
        name:
          type: string
          description: The resource name.
    CloudError:
      type: object
      description: The object that defines the structure of an Azure Data Factory error response.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Error data
          x-ms-client-flatten: true
      required:
      - error
      x-ms-external: true
    CreateDataFlowDebugSessionResponse:
      type: object
      description: Response body structure for creating data flow debug session.
      properties:
        status:
          type: string
          description: The state of the debug session.
        sessionId:
          type: string
          description: The ID of data flow debug session.
    Dataset:
      type: object
      description: The Azure Data Factory nested object which identifies data within different data stores, such as tables, files, folders, and documents.
      properties:
        type:
          type: string
          description: Type of dataset.
        description:
          type: string
          description: Dataset description.
        structure:
          description: 'Columns that define the structure of the dataset. Type: array (or Expression with resultType array), itemType: DatasetDataElement.'
        schema:
          description: 'Columns that define the physical type schema of the dataset. Type: array (or Expression with resultType array), itemType: DatasetSchemaDataElement.'
        linkedServiceName:
          $ref: '#/components/schemas/LinkedServiceReference'
          description: Linked service reference.
        parameters:
          type: object
          description: Parameters for dataset.
          additionalProperties:
            $ref: '#/components/schemas/ParameterSpecification'
        annotations:
          type: array
          description: List of tags that can be used for describing the Dataset.
          items: {}
        folder:
          $ref: '#/components/schemas/DatasetFolder'
          description: The folder that this Dataset is in. If not specified, Dataset will appear at the root level.
      discriminator:
        propertyName: type
      required:
      - type
      - linkedServiceName
      additionalProperties: {}
    DataFlowDebugCommandType:
      type: string
      description: The command type.
      enum:
      - executePreviewQuery
      - executeStatisticsQuery
      - executeExpressionQuery
      x-ms-enum:
        name: DataFlowDebugCommandType
        modelAsString: true
        values:
        - name: executePreviewQuery
          value: executePreviewQuery
          description: executePreviewQuery
        - name: executeStatisticsQuery
          value: executeStatisticsQuery
          description: executeStatisticsQuery
        - name: executeExpressionQuery
          value: executeExpressionQuery
          description: executeExpressionQuery
    LinkedService:
      type: object
      description: The nested object which contains the information and credential which can be used to connect with related store or compute resource.
      properties:
        type:
          type: string
          description: Type of linked service.
        version:
          type: string
          description: Version of the linked service.
        connectVia:
          $ref: '#/components/schemas/IntegrationRuntimeReference'
          description: The integration runtime reference.
        description:
          type: string
          description: Linked service description.
        parameters:
          type: object
          description: Parameters for linked service.
          additionalProperties:
            $ref: '#/components/schemas/ParameterSpecification'
        annotations:
          type: array
          description: List of tags that can be used for describing the linked service.
          items: {}
      discriminator:
        propertyName: type
      required:
      - type
      additionalProperties: {}
    DataFlowDebugPackageDebugSettings:
      type: object
      description: Data flow debug settings.
      properties:
        sourceSettings:
          type: array
          description: Source setting for data flow debug.
          items:
            $ref: '#/components/schemas/DataFlowSourceSetting'
          x-ms-identifiers:
          - sourceName
        parameters:
          type: object
          description: Data flow parameters.
          additionalProperties: {}
        datasetParameters:
          description: Parameters for dataset.
    IntegrationRuntimeReference:
      type: object
      description: Integration runtime reference type.
      properties:
        type:
          $ref: '#/components/schemas/IntegrationRuntimeReferenceType'
          description: Type of integration runtime.
        referenceName:
          type: string
          description: Reference integration runtime name.
        parameters:
          type: object
          description: Arguments for integration runtime.
          additionalProperties: {}
      required:
      - type
      - referenceName
    CreateDataFlowDebugSessionRequest:
      type: object
      description: Request body structure for creating data flow debug session.
      properties:
        computeType:
          type: string
          description: Compute type of the cluster. The value will be overwritten by the same setting in integration runtime if provided.
        coreCount:
          type: integer
          format: int32
          description: Core count of the cluster. The value will be overwritten by the same setting in integration runtime if provided.
        timeToLive:
          type: integer
          format: int32
          description: Time to live setting of the cluster in minutes.
        integrationRuntime:
          $ref: '#/components/schemas/IntegrationRuntimeDebugResource'
          description: Set to use integration runtime setting for data flow debug session.
    DataFlowDebugPackage:
      type: object
      description: Request body structure for starting data flow debug session.
      properties:
        sessionId:
          type: string
          description: The ID of data flow debug session.
        dataFlow:
          $ref: '#/components/schemas/DataFlowDebugResource'
          description: Data flow instance.
        dataFlows:
          type: array
          description: List of Data flows
          items:
            $ref: '#/components/schemas/DataFlowDebugResource'
          x-ms-identifiers:
          - name
        datasets:
          type: array
          description: List of datasets.
          items:
            $ref: '#/components/schemas/DatasetDebugResource'
          x-ms-identifiers:
          - name
        linkedServices:
          type: array
          description: List of linked services.
          items:
            $ref: '#/components/schemas/LinkedServiceDebugResource'
          x-ms-identifiers:
          - name
        staging:
          $ref: '#/components/schemas/DataFlowStagingInfo'
          description: Staging info for debug session.
        debugSettings:
          $ref: '#/components/schemas/DataFlowDebugPackageDebugSettings'
          description: Data flow debug settings.
      additionalProperties: {}
    DataFlowDebugResource:
      type: object
      description: Data flow debug resource.
      properties:
        properties:
          $ref: '#/components/schemas/DataFlow'
          description: Data flow properties.
      required:
      - properties
      allOf:
      - $ref: '#/components/schemas/SubResourceDebugResource'
    DataFlowSourceSetting:
      type: object
      description: Definition of data flow source setting for debug.
      properties:
        sourceName:
          type: string
          description: The data flow source name.
        rowLimit:
          type: integer
          format: int32
          description: Defines the row limit of data flow source in debug.
      additionalProperties: {}
    LinkedServiceDebugResource:
      type: object
      description: Linked service debug resource.
      properties:
        properties:
          $ref: '#/components/schemas/LinkedService'
          description: Properties of linked service.
      required:
      - properties
      allOf:
      - $ref: '#/components/schemas/SubResourceDebugResource'
    DataFlowDebugCommandRequest:
      type: object
      description: Request body structure for data flow debug command.
      properties:
        sessionId:
          type: string
          description: The ID of data flow debug session.
        command:
          $ref: '#/components/schemas/DataFlowDebugCommandType'
          description: The command type.
        commandPayload:
          $ref: '#/components/schemas/DataFlowDebugCommandPayload'
          description: The command payload object.
    DataFlow:
      type: object
      description: Azure Data Factory nested object which contains a flow with data movements and transformations.
      properties:
        type:
          type: string
          description: Type of data flow.
        description:
          type: string
          description: The description of the data flow.
        annotations:
          type: array
          description: List of tags that can be used for describing the data flow.
          items: {}
        folder:
          $ref: '#/components/schemas/DataFlowFolder'
          description: The folder that this data flow is in. If not specified, Data flow will appear at the root level.
      discriminator:
        propertyName: type
      required:
      - type
    ParameterType:
      type: string
      description: Parameter type.
      enum:
      - Object
      - String
      - Int
      - Float
      - Bool
      - Array
      - SecureString
      x-ms-enum:
        name: ParameterType
        modelAsString: true
        values:
        - name: Object
          value: Object
          description: Object
        - name: String
          value: String
          description: String
        - name: Int
          value: Int
          description: Int
        - name: Float
          value: Float
          description: Float
        - name: Bool
          value: Bool
          description: Bool
        - name: Array
          value: Array
          description: Array
        - name: SecureString
          value: SecureString
          description: SecureString
    DeleteDataFlowDebugSessionRequest:
      type: object
      description: Request body structure for deleting data flow debug session.
      properties:
        sessionId:
          type: string
          description: The ID of data flow debug session.
    DatasetFolder:
      type: object
      description: The folder that this Dataset is in. If not specified, Dataset will appear at the root level.
      properties:
        name:
          type: string
          description: The name of the folder that this Dataset is in.
    DataFlowFolder:
      type: object
      description: The folder that this data flow is in. If not specified, Data flow will appear at the root level.
      properties:
        name:
          type: string
          description: The name of the folder that this data flow is in.
    IntegrationRuntimeReferenceType:
      type: string
      description: Type of integration runtime.
      enum:
      - IntegrationRuntimeReference
      x-ms-enum:
        name: IntegrationRuntimeReferenceType
        modelAsString: true
        values:
        - name: IntegrationRuntimeReference
          value: IntegrationRuntimeReference
          description: IntegrationRuntimeReference
    DataFlowDebugSessionInfo:
      type: object
      description: Data flow debug session info.
      properties:
        dataFlowName:
          type: string
          description: The name of the data flow.
        computeType:
          type: string
          description: Compute type of the cluster.
        coreCount:
          type: integer
          format: int32
          description: Core count of the cluster.
        nodeCount:
          type: integer
          format: int32
          description: Node count of the cluster. (deprecated property)
        integrationRuntimeName:
          type: string
          description: Attached integration runtime name of data flow debug session.
        sessionId:
          type: string
          description: The ID of data flow debug session.
        startTime:
          type: string
          description: Start time of data flow debug session.
        timeToLiveInMinutes:
          type: integer
          format: int32
          description: Compute type of the cluster.
        lastActivityTime:
          type: string
          description: Last activity time of data flow debug session.
      additionalProperties: {}
    DataFlowDebugCommandResponse:
      type: object
      description: Response body structure of data flow result for data preview, statistics or expression preview.
      properties:
        status:
          type: string
          description: The run status of data preview, statistics or expression preview.
        data:
          type: string
          description: The result data of data preview, statistics or expression preview.
    DataFlowDebugCommandPayload:
      type: object
      description: Structure of command payload.
      properties:
        streamName:
          type: string
          description: The stream name which is used for preview.
        rowLimits:
          type: integer
          format: int32
          description: Row limits for preview response.
        columns:
          type: array
          description: Array of column names.
          items:
            type: string
        expression:
          type: string
          description: The expression which is used for preview.
      required:
      - streamName
    IntegrationRuntimeDebugResource:
      type: object
      description: Integration runtime debug resource.
      properties:
        properties:
          $ref: '#/components/schemas/IntegrationRuntime'
          description: Integration runtime properties.
      required:
      - properties
      allOf:
      - $ref: '#/components/schemas/SubResourceDebugResource'
    DatasetDebugResource:
      type: object
      description: Dataset debug resource.
      properties:
        properties:
          $ref: '#/components/schemas/Dataset'
          description: Dataset properties.
      required:
      - properties
      allOf:
      - $ref: '#/components/schemas/SubResourceDebugResource'
    LinkedServiceReference:
      type: object
      description: Linked service reference type.
      properties:
        type:
          $ref: '#/components/schemas/Type'
          description: Linked service reference type.
        referenceName:
          type: string
          description: Reference LinkedService name.
        parameters:
          type: object
          description: Arguments for LinkedService.
          additionalProperties: {}
      required:
      - type
      - referenceName
    ParameterSpecification:
      type: object
      description: Definition of a single parameter for an entity.
      properties:
        type:
          $ref: '#/components/schemas/ParameterType'
          description: Parameter type.
        defaultValue:
          description: Default value of parameter.
      required:
      - type
    AddDataFlowToDebugSessionResponse:
      type: object
      description: Response body structure for starting data flow debug session.
      properties:
        jobVersion:
          type: string
          description: The ID of data flow debug job version.
    IntegrationRuntime:
      type: object
      description: Azure Data Factory nested object which serves as a compute resource for activities.
      properties:
        type:
          $ref: '#/components/schemas/IntegrationRuntimeType'
          description: Type of integration runtime.
        description:
          type: string
          description: Integration runtime description.
      discriminator:
        propertyName: type
      required:
      - type
      additionalProperties: {}
    QueryDataFlowDebugSessionsResponse:
      type: object
      description: Paged collection of DataFlowDebugSessionInfo items
      properties:
        value:
          type: array
          description: The DataFlowDebugSessionInfo items on this page
          items:
            $ref: '#/components/schemas/DataFlowDebugSessionInfo'
          x-ms-identifiers:
          - dataFlowName
          - sessionId
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    Type:
      type: string
      description: Linked service reference type.
      enum:
      - LinkedServiceReference
      x-ms-enum:
        name: Type
        modelAsString: true
        values:
        - name: LinkedServiceReference
          value: LinkedServiceReference
          description: LinkedServiceReference
    CloudErrorBody:
      type: object
      description: The object that defines the structure of an Azure Data Factory error.
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Property name/path in request associated with error.
        details:
          type: array
          description: Array with additional error details.
          items:
            $ref: '#/components/schemas/CloudError'
          x-ms-identifiers: []
      required:
      - code
      - message
      x-ms-external: true
    DataFlowStagingInfo:
      type: object
      description: Staging info for execute data flow activity.
      properties:
        linkedService:
          $ref: '#/components/schemas/LinkedServiceReference'
          description: Staging linked service reference.
        folderPath:
          description: 'Folder path for staging blob. Type: string (or Expression with resultType string)'
    IntegrationRuntimeType:
      type: string
      description: The type of integration runtime.
      enum:
      - Managed
      - SelfHosted
      x-ms-enum:
        name: IntegrationRuntimeType
        modelAsString: true
        values:
        - name: Managed
          value: Managed
          description: Managed
        - name: SelfHosted
          value: SelfHosted
          description: SelfHosted
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
