openapi: 3.0.3
info:
  title: Azure Data Factory REST integrationRuntimes API
  description: Azure Data Factory is a cloud-based data integration service. The Microsoft.DataFactory resource-provider REST
    API manages factories, pipelines, datasets, linked services, data flows, triggers, integration runtimes, credentials,
    managed private endpoints and change data capture resources through Azure Resource Manager.
  version: '2018-06-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/datafactory/
  x-source: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/openapi.json
  x-source-format: Swagger 2.0 (converted verbatim to OpenAPI 3.0.3; original retained at openapi/_original/)
externalDocs:
  description: Azure Data Factory REST API reference
  url: https://learn.microsoft.com/en-us/rest/api/datafactory/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: integrationRuntimes
  description: integrationRuntimes operations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes
  : get:
      operationId: IntegrationRuntimes_ListByFactory
      description: Lists integration runtimes.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_ListByFactory:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_ListByFactory.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}
  : get:
      operationId: IntegrationRuntimes_Get
      description: Gets an integration runtime.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: if-none-match
        in: header
        required: false
        description: ETag of the integration runtime entity. Should only be specified for get. If the ETag matches the existing
          entity tag, or if * was provided, then no content will be returned.
        schema:
          type: string
        x-ms-client-name: If-None-Match
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeResource'
        '304':
          description: The client has made a conditional request and the resource has not been modified.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_Get:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_Get.json
    put:
      operationId: IntegrationRuntimes_CreateOrUpdate
      description: Creates or updates an integration runtime.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: if-match
        in: header
        required: false
        description: ETag of the integration runtime entity. Should only be specified for update, for which it should match
          existing entity or can be * for unconditional update.
        schema:
          type: string
        x-ms-client-name: If-Match
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationRuntimeResource'
        description: Integration runtime resource definition.
      responses:
        '200':
          description: Resource 'IntegrationRuntimeResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_Create:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_Create.json
    patch:
      operationId: IntegrationRuntimes_Update
      description: Updates an integration runtime.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIntegrationRuntimeRequest'
        description: The parameters for updating an integration runtime.
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_Update:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_Update.json
    delete:
      operationId: IntegrationRuntimes_Delete
      description: Deletes an integration runtime.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_Delete:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/getConnectionInfo
  : post:
      operationId: IntegrationRuntimes_GetConnectionInfo
      description: Gets the on-premises integration runtime connection information for encrypting the on-premises data source
        credentials.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeConnectionInfo'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_GetConnectionInfo:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_GetConnectionInfo.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/getStatus
  : post:
      operationId: IntegrationRuntimes_GetStatus
      description: Gets detailed status information for an integration runtime.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeStatusResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_GetStatus:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_GetStatus.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/linkedIntegrationRuntime
  : post:
      operationId: IntegrationRuntimes_CreateLinkedIntegrationRuntime
      description: Create a linked integration runtime entry in a shared integration runtime.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkedIntegrationRuntimeRequest'
        description: The linked integration runtime properties.
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeStatusResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_CreateLinkedIntegrationRuntime:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_CreateLinkedIntegrationRuntime.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/listAuthKeys
  : post:
      operationId: IntegrationRuntimes_ListAuthKeys
      description: Retrieves the authentication keys for an integration runtime.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeAuthKeys'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_ListAuthKeys:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_ListAuthKeys.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/monitoringData
  : post:
      operationId: IntegrationRuntimes_GetMonitoringData
      description: Get the integration runtime monitoring data, which includes the monitor data for all the nodes under this
        integration runtime.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeMonitoringData'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_GetMonitoringData:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_GetMonitoringData.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/outboundNetworkDependenciesEndpoints
  : get:
      operationId: IntegrationRuntimes_ListOutboundNetworkDependenciesEndpoints
      description: Gets the list of outbound network dependencies for a given Azure-SSIS integration runtime.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeOutboundNetworkDependenciesEndpointsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_OutboundNetworkDependenciesEndpoints:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_ListOutboundNetworkDependenciesEndpoints.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/regenerateAuthKey
  : post:
      operationId: IntegrationRuntimes_RegenerateAuthKey
      description: Regenerates the authentication key for an integration runtime.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationRuntimeRegenerateKeyParameters'
        description: The parameters for regenerating integration runtime authentication key.
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeAuthKeys'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_RegenerateAuthKey:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_RegenerateAuthKey.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/removeLinks
  : post:
      operationId: IntegrationRuntimes_RemoveLinks
      description: Remove all linked integration runtimes under specific data factory in a self-hosted integration runtime.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedIntegrationRuntimeRequest'
        description: The data factory name for the linked integration runtime.
      responses:
        '200':
          description: The request has succeeded.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_Upgrade:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_RemoveLinks.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/start
  : post:
      operationId: IntegrationRuntimes_Start
      description: Starts a ManagedReserved type integration runtime.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeStatusResponse'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation
                status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_Start:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_Start.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/IntegrationRuntimeStatusResponse'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/stop
  : post:
      operationId: IntegrationRuntimes_Stop
      description: Stops a ManagedReserved type integration runtime.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation
                status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_Stop:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_Stop.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/syncCredentials
  : post:
      operationId: IntegrationRuntimes_SyncCredentials
      description: Force the integration runtime to synchronize credentials across integration runtime nodes, and this will
        override the credentials across all worker nodes with those available on the dispatcher node. If you already have
        the latest credential backup file, you should manually import it (preferred) on any self-hosted integration runtime
        node than using this API directly.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: The request has succeeded.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_SyncCredentials:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_SyncCredentials.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/upgrade
  : post:
      operationId: IntegrationRuntimes_Upgrade
      description: Upgrade self-hosted integration runtime to latest version if availability.
      tags:
      - integrationRuntimes
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        required: true
        description: The integration runtime name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: The request has succeeded.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimes_Upgrade:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/IntegrationRuntimes_Upgrade.json
components:
  schemas:
    AzPowerShellSetup:
      type: object
      description: The express custom setup of installing Azure PowerShell.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzPowerShellSetupTypeProperties'
          description: Install Azure PowerShell type properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/CustomSetupBase'
      x-ms-discriminator-value: AzPowerShellSetup
    AzPowerShellSetupTypeProperties:
      type: object
      description: Installation of Azure PowerShell type properties.
      properties:
        version:
          type: string
          description: The required version of Azure PowerShell to install.
      required:
      - version
    AzureKeyVaultSecretReference:
      type: object
      description: Azure Key Vault secret reference.
      properties:
        store:
          $ref: '#/components/schemas/LinkedServiceReference'
          description: The Azure Key Vault linked service reference.
        secretName:
          description: 'The name of the secret in Azure Key Vault. Type: string (or Expression with resultType string).'
        secretVersion:
          description: 'The version of the secret in Azure Key Vault. The default value is the latest version of the secret.
            Type: string (or Expression with resultType string).'
      required:
      - store
      - secretName
      allOf:
      - $ref: '#/components/schemas/SecretBase'
      x-ms-discriminator-value: AzureKeyVaultSecret
    CloudError:
      type: object
      description: The object that defines the structure of an Azure Data Factory error response.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Error data
          x-ms-client-flatten: true
      required:
      - error
      x-ms-external: true
    CloudErrorBody:
      type: object
      description: The object that defines the structure of an Azure Data Factory error.
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Property name/path in request associated with error.
        details:
          type: array
          description: Array with additional error details.
          items:
            $ref: '#/components/schemas/CloudError'
          x-ms-identifiers: []
      required:
      - code
      - message
      x-ms-external: true
    CmdkeySetup:
      type: object
      description: The custom setup of running cmdkey commands.
      properties:
        typeProperties:
          $ref: '#/components/schemas/CmdkeySetupTypeProperties'
          description: Cmdkey command custom setup type properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/CustomSetupBase'
      x-ms-discriminator-value: CmdkeySetup
    CmdkeySetupTypeProperties:
      type: object
      description: Cmdkey command custom setup type properties.
      properties:
        targetName:
          description: 'The server name of data source access. Type: string.'
        userName:
          description: 'The user name of data source access. Type: string.'
        password:
          $ref: '#/components/schemas/SecretBase'
          description: The password of data source access.
      required:
      - targetName
      - userName
      - password
    ComponentSetup:
      type: object
      description: The custom setup of installing 3rd party components.
      properties:
        typeProperties:
          $ref: '#/components/schemas/LicensedComponentSetupTypeProperties'
          description: Install 3rd party component type properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/CustomSetupBase'
      x-ms-discriminator-value: ComponentSetup
    CopyComputeScaleProperties:
      type: object
      description: CopyComputeScale properties for managed integration runtime.
      properties:
        dataIntegrationUnit:
          type: integer
          format: int32
          description: DIU number setting reserved for copy activity execution. Supported values are multiples of 4 in range
            4-256.
          minimum: 4
        timeToLive:
          type: integer
          format: int32
          description: Time to live (in minutes) setting of integration runtime which will execute copy activity.
          minimum: 5
      additionalProperties: {}
    CreateLinkedIntegrationRuntimeRequest:
      type: object
      description: The linked integration runtime information.
      properties:
        name:
          type: string
          description: The name of the linked integration runtime.
        subscriptionId:
          type: string
          description: The ID of the subscription that the linked integration runtime belongs to.
        dataFactoryName:
          type: string
          description: The name of the data factory that the linked integration runtime belongs to.
        dataFactoryLocation:
          type: string
          description: The location of the data factory that the linked integration runtime belongs to.
    CredentialReference:
      type: object
      description: Credential reference type.
      properties:
        type:
          $ref: '#/components/schemas/CredentialReferenceType'
          description: Credential reference type.
        referenceName:
          type: string
          description: Reference credential name.
      required:
      - type
      - referenceName
      additionalProperties: {}
    CredentialReferenceType:
      type: string
      description: Credential reference type.
      enum:
      - CredentialReference
      x-ms-enum:
        name: CredentialReferenceType
        modelAsString: true
        values:
        - name: CredentialReference
          value: CredentialReference
          description: CredentialReference
    CustomSetupBase:
      type: object
      description: The base definition of the custom setup.
      properties:
        type:
          type: string
          description: The type of custom setup.
      discriminator: type
      required:
      - type
    DataFlowComputeType:
      type: string
      description: Compute type of the cluster which will execute data flow job.
      enum:
      - General
      - MemoryOptimized
      - ComputeOptimized
      x-ms-enum:
        name: DataFlowComputeType
        modelAsString: true
        values:
        - name: General
          value: General
          description: General
        - name: MemoryOptimized
          value: MemoryOptimized
          description: MemoryOptimized
        - name: ComputeOptimized
          value: ComputeOptimized
          description: ComputeOptimized
    EntityReference:
      type: object
      description: The entity reference.
      properties:
        type:
          $ref: '#/components/schemas/IntegrationRuntimeEntityReferenceType'
          description: The type of this referenced entity.
        referenceName:
          type: string
          description: The name of this referenced entity.
    EnvironmentVariableSetup:
      type: object
      description: The custom setup of setting environment variable.
      properties:
        typeProperties:
          $ref: '#/components/schemas/EnvironmentVariableSetupTypeProperties'
          description: Add environment variable type properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/CustomSetupBase'
      x-ms-discriminator-value: EnvironmentVariableSetup
    EnvironmentVariableSetupTypeProperties:
      type: object
      description: Environment variable custom setup type properties.
      properties:
        variableName:
          type: string
          description: The name of the environment variable.
        variableValue:
          type: string
          description: The value of the environment variable.
      required:
      - variableName
      - variableValue
    IntegrationRuntime:
      type: object
      description: Azure Data Factory nested object which serves as a compute resource for activities.
      properties:
        type:
          $ref: '#/components/schemas/IntegrationRuntimeType'
          description: Type of integration runtime.
        description:
          type: string
          description: Integration runtime description.
      discriminator: type
      required:
      - type
      additionalProperties: {}
    IntegrationRuntimeAuthKeyName:
      type: string
      description: The name of the authentication key to regenerate.
      enum:
      - authKey1
      - authKey2
      x-ms-enum:
        name: IntegrationRuntimeAuthKeyName
        modelAsString: true
        values:
        - name: authKey1
          value: authKey1
          description: authKey1
        - name: authKey2
          value: authKey2
          description: authKey2
    IntegrationRuntimeAuthKeys:
      type: object
      description: The integration runtime authentication keys.
      properties:
        authKey1:
          type: string
          description: The primary integration runtime authentication key.
        authKey2:
          type: string
          description: The secondary integration runtime authentication key.
    IntegrationRuntimeAutoUpdate:
      type: string
      description: The state of integration runtime auto update.
      enum:
      - 'On'
      - 'Off'
      x-ms-enum:
        name: IntegrationRuntimeAutoUpdate
        modelAsString: true
        values:
        - name: 'On'
          value: 'On'
          description: 'On'
        - name: 'Off'
          value: 'Off'
          description: 'Off'
    IntegrationRuntimeComputeProperties:
      type: object
      description: The compute resource properties for managed integration runtime.
      properties:
        location:
          type: string
          description: The location for managed integration runtime. The supported regions could be found on https://docs.microsoft.com/en-us/azure/data-factory/data-factory-data-movement-activities
        nodeSize:
          type: string
          description: The node size requirement to managed integration runtime.
        numberOfNodes:
          type: integer
          format: int32
          description: The required number of nodes for managed integration runtime.
          minimum: 1
        maxParallelExecutionsPerNode:
          type: integer
          format: int32
          description: Maximum parallel executions count per node for managed integration runtime.
          minimum: 1
        dataFlowProperties:
          $ref: '#/components/schemas/IntegrationRuntimeDataFlowProperties'
          description: Data flow properties for managed integration runtime.
        vNetProperties:
          $ref: '#/components/schemas/IntegrationRuntimeVNetProperties'
          description: VNet properties for managed integration runtime.
        copyComputeScaleProperties:
          $ref: '#/components/schemas/CopyComputeScaleProperties'
          description: CopyComputeScale properties for managed integration runtime.
        pipelineExternalComputeScaleProperties:
          $ref: '#/components/schemas/PipelineExternalComputeScaleProperties'
          description: PipelineExternalComputeScale properties for managed integration runtime.
      additionalProperties: {}
    IntegrationRuntimeConnectionInfo:
      type: object
      description: Connection information for encrypting the on-premises data source credentials.
      properties:
        serviceToken:
          type: string
          description: The token generated in service. Callers use this token to authenticate to integration runtime.
          readOnly: true
        identityCertThumbprint:
          type: string
          description: The integration runtime SSL certificate thumbprint. Click-Once application uses it to do server validation.
          readOnly: true
        hostServiceUri:
          type: string
          description: The on-premises integration runtime host URL.
          readOnly: true
        version:
          type: string
          description: The integration runtime version.
          readOnly: true
        publicKey:
          type: string
          description: The public key for encrypting a credential when transferring the credential to the integration runtime.
          readOnly: true
        isIdentityCertExprired:
          type: boolean
          description: Whether the identity certificate is expired.
          readOnly: true
      additionalProperties: {}
    IntegrationRuntimeCustomSetupScriptProperties:
      type: object
      description: Custom setup script properties for a managed dedicated integration runtime.
      properties:
        blobContainerUri:
          type: string
          description: The URI of the Azure blob container that contains the custom setup script.
        sasToken:
          $ref: '#/components/schemas/SecureString'
          description: The SAS token of the Azure blob container.
    IntegrationRuntimeCustomerVirtualNetwork:
      type: object
      description: The definition and properties of virtual network to which Azure-SSIS integration runtime will join.
      properties:
        subnetId:
          type: string
          description: The ID of subnet to which Azure-SSIS integration runtime will join.
    IntegrationRuntimeDataFlowProperties:
      type: object
      description: Data flow properties for managed integration runtime.
      properties:
        computeType:
          $ref: '#/components/schemas/DataFlowComputeType'
          description: Compute type of the cluster which will execute data flow job.
        coreCount:
          type: integer
          format: int32
          description: 'Core count of the cluster which will execute data flow job. Supported values are: 8, 16, 32, 48, 80,
            144 and 272.'
        timeToLive:
          type: integer
          format: int32
          description: Time to live (in minutes) setting of the cluster which will execute data flow job.
          minimum: 0
        cleanup:
          type: boolean
          description: Cluster will not be recycled and it will be used in next data flow activity run until TTL (time to
            live) is reached if this is set as false. Default is true.
        customProperties:
          type: array
          description: Custom properties are used to tune the data flow runtime performance.
          items:
            $ref: '#/components/schemas/IntegrationRuntimeDataFlowPropertiesCustomPropertiesItem'
          x-ms-identifiers: []
      additionalProperties: {}
    IntegrationRuntimeDataFlowPropertiesCustomPropertiesItem:
      type: object
      properties:
        name:
          type: string
          description: Name of custom property.
        value:
          type: string
          description: Value of custom property.
    IntegrationRuntimeDataProxyProperties:
      type: object
      description: Data proxy properties for a managed dedicated integration runtime.
      properties:
        connectVia:
          $ref: '#/components/schemas/EntityReference'
          description: The self-hosted integration runtime reference.
        stagingLinkedService:
          $ref: '#/components/schemas/EntityReference'
          description: The staging linked service reference.
        path:
          type: string
          description: The path to contain the staged data in the Blob storage.
    IntegrationRuntimeEdition:
      type: string
      description: The edition for the SSIS Integration Runtime
      enum:
      - Standard
      - Enterprise
      x-ms-enum:
        name: IntegrationRuntimeEdition
        modelAsString: true
        values:
        - name: Standard
          value: Standard
          description: Standard
        - name: Enterprise
          value: Enterprise
          description: Enterprise
    IntegrationRuntimeEntityReferenceType:
      type: string
      description: The type of this referenced entity.
      enum:
      - IntegrationRuntimeReference
      - LinkedServiceReference
      x-ms-enum:
        name: IntegrationRuntimeEntityReferenceType
        modelAsString: true
        values:
        - name: IntegrationRuntimeReference
          value: IntegrationRuntimeReference
          description: IntegrationRuntimeReference
        - name: LinkedServiceReference
          value: LinkedServiceReference
          description: LinkedServiceReference
    IntegrationRuntimeInternalChannelEncryptionMode:
      type: string
      description: It is used to set the encryption mode for node-node communication channel (when more than 2 self-hosted
        integration runtime nodes exist).
      enum:
      - NotSet
      - SslEncrypted
      - NotEncrypted
      x-ms-enum:
        name: IntegrationRuntimeInternalChannelEncryptionMode
        modelAsString: true
        values:
        - name: NotSet
          value: NotSet
          description: NotSet
        - name: SslEncrypted
          value: SslEncrypted
          description: SslEncrypted
        - name: NotEncrypted
          value: NotEncrypted
          description: NotEncrypted
    IntegrationRuntimeLicenseType:
      type: string
      description: License type for bringing your own license scenario.
      enum:
      - BasePrice
      - LicenseIncluded
      x-ms-enum:
        name: IntegrationRuntimeLicenseType
        modelAsString: true
        values:
        - name: BasePrice
          value: BasePrice
          description: BasePrice
        - name: LicenseIncluded
          value: LicenseIncluded
          description: LicenseIncluded
    IntegrationRuntimeListResponse:
      type: object
      description: A list of integration runtime resources.
      properties:
        value:
          type: array
          description: The IntegrationRuntimeResource items on this page
          items:
            $ref: '#/components/schemas/IntegrationRuntimeResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    IntegrationRuntimeMonitoringData:
      type: object
      description: Get monitoring data response.
      properties:
        name:
          type: string
          description: Integration runtime name.
        nodes:
          type: array
          description: Integration runtime node monitoring data.
          items:
            $ref: '#/components/schemas/IntegrationRuntimeNodeMonitoringData'
          x-ms-identifiers:
          - nodeName
    IntegrationRuntimeNodeMonitoringData:
      type: object
      description: Monitoring data for integration runtime node.
      properties:
        nodeName:
          type: string
          description: Name of the integration runtime node.
          readOnly: true
        availableMemoryInMB:
          type: integer
          format: int32
          description: Available memory (MB) on the integration runtime node.
          readOnly: true
        cpuUtilization:
          type: integer
          format: int32
          description: CPU percentage on the integration runtime node.
          readOnly: true
        concurrentJobsLimit:
          type: integer
          format: int32
          description: Maximum concurrent jobs on the integration runtime node.
          readOnly: true
        concurrentJobsRunning:
          type: integer
          format: int32
          description: The number of jobs currently running on the integration runtime node.
          readOnly: true
        maxConcurrentJobs:
          type: integer
          format: int32
          description: The maximum concurrent jobs in this integration runtime.
          readOnly: true
        sentBytes:
          type: number
          format: float
          description: Sent bytes on the integration runtime node.
          readOnly: true
        receivedBytes:
          type: number
          format: float
          description: Received bytes on the integration runtime node.
          readOnly: true
      additionalProperties: {}
    IntegrationRuntimeOutboundNetworkDependenciesCategoryEndpoint:
      type: object
      description: Azure-SSIS integration runtime outbound network dependency endpoints for one category.
      properties:
        category:
          type: string
          description: The category of outbound network dependency.
        endpoints:
          type: array
          description: The endpoints for outbound network dependency.
          items:
            $ref: '#/components/schemas/IntegrationRuntimeOutboundNetworkDependenciesEndpoint'
          x-ms-identifiers:
          - domainName
    IntegrationRuntimeOutboundNetworkDependenciesEndpoint:
      type: object
      description: The endpoint for Azure-SSIS integration runtime outbound network dependency.
      properties:
        domainName:
          type: string
          description: The domain name of endpoint.
        endpointDetails:
          type: array
          description: The details of endpoint.
          items:
            $ref: '#/components/schemas/IntegrationRuntimeOutboundNetworkDependenciesEndpointDetails'
          x-ms-identifiers:
          - port
    IntegrationRuntimeOutboundNetworkDependenciesEndpointDetails:
      type: object
      description: The details of Azure-SSIS integration runtime outbound network dependency endpoint.
      properties:
        port:
          type: integer
          format: int32
          description: The port of endpoint.
    IntegrationRuntimeOutboundNetworkDependenciesEndpointsResponse:
      type: object
      description: Azure-SSIS integration runtime outbound network dependency endpoints.
      properties:
        value:
          type: array
          description: The list of outbound network dependency endpoints.
          items:
            $ref: '#/components/schemas/IntegrationRuntimeOutboundNetworkDependenciesCategoryEndpoint'
          x-ms-identifiers:
          - category
    IntegrationRuntimeRegenerateKeyParameters:
      type: object
      description: Parameters to regenerate the authentication key.
      properties:
        keyName:
          $ref: '#/components/schemas/IntegrationRuntimeAuthKeyName'
          description: The name of the authentication key to regenerate.
    IntegrationRuntimeResource:
      type: object
      description: Integration runtime resource type.
      properties:
        properties:
          $ref: '#/components/schemas/IntegrationRuntime'
          description: Integration runtime properties.
        etag:
          type: string
          description: '"If etag is provided in the response body, it may also be provided as a header per the normal etag
            convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1
            uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range
            (section 14.27) header fields.")'
          readOnly: true
      required:
      - properties
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource
    IntegrationRuntimeSsisCatalogInfo:
      type: object
      description: Catalog information for managed dedicated integration runtime.
      properties:
        catalogServerEndpoint:
          type: string
          description: The catalog database server URL.
        catalogAdminUserName:
          type: string
          description: The administrator user name of catalog database.
          minLength: 1
          maxLength: 128
        catalogAdminPassword:
          $ref: '#/components/schemas/SecureString'
          description: The password of the administrator user account of the catalog database.
        catalogPricingTier:
          $ref: '#/components/schemas/IntegrationRuntimeSsisCatalogPricingTier'
          description: The pricing tier for the catalog database. The valid values could be found in https://azure.microsoft.com/en-us/pricing/details/sql-database/
        dualStandbyPairName:
          type: string
          description: The dual standby pair name of Azure-SSIS Integration Runtimes to support SSISDB failover.
      additionalProperties: {}
    IntegrationRuntimeSsisCatalogPricingTier:
      type: string
      description: The pricing tier for the catalog database. The valid values could be found in https://azure.microsoft.com/en-us/pricing/details/sql-database/
      enum:
      - Basic
      - Standard
      - Premium
      - PremiumRS
      x-ms-enum:
        name: IntegrationRuntimeSsisCatalogPricingTier
        modelAsString: true
        values:
        - name: Basic
          value: Basic
          description: Basic
        - name: Standard
          value: Standard
          description: Standard
        - name: Premium
          value: Premium
          description: Premium
        - name: PremiumRS
          value: PremiumRS
          description: PremiumRS
    IntegrationRuntimeSsisProperties:
      type: object
      description: SSIS properties for managed integration runtime.
      properties:
        catalogInfo:
          $ref: '#/components/schemas/IntegrationRuntimeSsisCatalogInfo'
          description: Catalog information for managed dedicated integration runtime.
        licenseType:
          $ref: '#/components/schemas/IntegrationRuntimeLicenseType'
          description: License type for bringing your own license scenario.
        customSetupScriptProperties:
          $ref: '#/components/schemas/IntegrationRuntimeCustomSetupScriptProperties'
          description: Custom setup script properties for a managed dedicated integration runtime.
        dataProxyProperties:
          $ref: '#/components/schemas/IntegrationRuntimeDataProxyProperties'
          description: Data proxy properties for a managed dedicated integration runtime.
        edition:
          $ref: '#/components/schemas/IntegrationRuntimeEdition'
          description: The edition for the SSIS Integration Runtime
        expressCustomSetupProperties:
          type: array
          description: Custom setup without script properties for a SSIS integration runtime.
          items:
            $ref: '#/components/schemas/CustomSetupBase'
          x-ms-identifiers: []
        packageStores:
          type: array
          description: Package stores for the SSIS Integration Runtime.
          items:
            $ref: '#/components/schemas/PackageStore'
          x-ms-identifiers:
          - name
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
      additionalProperties: {}
    IntegrationRuntimeState:
      type: string
      description: The state of integration runtime.
      enum:
      - Initial
      - Stopped
      - Started
      - Starting
      - Stopping
      - NeedRegistration
      - Online
      - Limited
      - Offline
      - AccessDenied
      x-ms-enum:
        name: IntegrationRuntimeState
        modelAsString: true
        values:
        - name: Initial
          value: Initial
          description: Initial
        - name: Stopped
          value: Stopped
          description: Stopped
        - name: Started
          value: Started
          description: Started
        - name: Starting
          value: Starting
          description: Starting
        - name: Stopping
          value: Stopping
          description: Stopping
        - name: NeedRegistration
          value: NeedRegistration
          description: NeedRegistration
        - name: Online
          value: Online
          description: Online
        - name: Limited
          value: Limited
          description: Limited
        - name: Offline
          value: Offline
          description: Offline
        - name: AccessDenied
          value: AccessDenied
          description: AccessDenied
    IntegrationRuntimeStatus:
      type: object
      description: Integration runtime status.
      properties:
        type:
          $ref: '#/components/schemas/IntegrationRuntimeType'
          description: Type of integration runtime.
        dataFactoryName:
          type: string
          description: The data factory name which the integration runtime belong to.
          readOnly: true
        state:
          $ref: '#/components/schemas/IntegrationRuntimeState'
          description: The state of integration runtime.
          readOnly: true
      discriminator: type
      required:
      - type
      additionalProperties: {}
    IntegrationRuntimeStatusResponse:
      type: object
      description: Integration runtime status response.
      properties:
        name:
          type: string
          description: The integration runtime name.
          readOnly: true
        properties:
          $ref: '#/components/schemas/IntegrationRuntimeStatus'
          description: Integration runtime properties.
      required:
      - properties
    IntegrationRuntimeType:
      type: string
      description: The type of integration runtime.
      enum:
      - Managed
      - SelfHosted
      x-ms-enum:
        name: IntegrationRuntimeType
        modelAsString: true
        values:
        - name: Managed
          value: Managed
          description: Managed
        - name: SelfHosted
          value: SelfHosted
          description: SelfHosted
    IntegrationRuntimeUpdateResult:
      type: string
      description: The result of the last integration runtime node update.
      enum:
      - None
      - Succeed
      - Fail
      x-ms-enum:
        name: IntegrationRuntimeUpdateResult
        modelAsString: true
        values:
        - name: None
          value: None
          description: None
        - name: Succeed
          value: Succeed
          description: Succeed
        - name: Fail
          value: Fail
          description: Fail
    IntegrationRuntimeVNetProperties:
      type: object
      description: VNet properties for managed integration runtime.
      properties:
        vNetId:
          type: string
          description: The ID of the VNet that this integration runtime will join.
        subnet:
          type: string
          description: The name of the subnet this integration runtime will join.
        publicIPs:
          type: array
          description: Resource IDs of the public IP addresses that this integration runtime will use.
          items:
            type: string
        subnetId:
          type: string
          description: The ID of subnet, to which this Azure-SSIS integration runtime will be joined.
      additionalProperties: {}
    InteractiveCapabilityStatus:
      type: string
      description: The interactive authoring capability status. Must be one of InteractiveCapabilityStatus. The default value
        is 'Enabling'.
      enum:
      - Enabling
      - Enabled
      - Disabling
      - Disabled
      x-ms-enum:
        name: InteractiveCapabilityStatus
        modelAsString: true
        values:
        - name: Enabling
          value: Enabling
          description: Enabling
        - name: Enabled
          value: Enabled
          description: Enabled
        - name: Disabling
          value: Disabling
          description: Disabling
        - name: Disabled
          value: Disabled
          description: Disabled
    InteractiveQueryProperties:
      type: object
      description: Interactive authoring capability type properties.
      properties:
        status:
          $ref: '#/components/schemas/InteractiveCapabilityStatus'
          description: The interactive authoring capability status. Must be one of InteractiveCapabilityStatus. The default
            value is 'Enabling'.
          readOnly: true
        autoTerminationMinutes:
          type: integer
          format: int32
          description: The allowed idle time for interactive authoring.
          readOnly: true
    LicensedComponentSetupTypeProperties:
      type: object
      description: Installation of licensed component setup type properties.
      properties:
        componentName:
          type: string
          description: The name of the 3rd party component.
        licenseKey:
          $ref: '#/components/schemas/SecretBase'
          description: The license key to activate the component.
      required:
      - componentName
    LinkedIntegrationRuntime:
      type: object
      description: The linked integration runtime information.
      properties:
        name:
          type: string
          description: The name of the linked integration runtime.
          readOnly: true
        subscriptionId:
          type: string
          description: The subscription ID for which the linked integration runtime belong to.
          readOnly: true
        dataFactoryName:
          type: string
          description: The name of the data factory for which the linked integration runtime belong to.
          readOnly: true
        dataFactoryLocation:
          type: string
          description: The location of the data factory for which the linked integration runtime belong to.
          readOnly: true
        createTime:
          type: string
          format: date-time
          description: The creating time of the linked integration runtime.
          readOnly: true
    LinkedIntegrationRuntimeKeyAuthorization:
      type: object
      description: The key authorization type integration runtime.
      properties:
        key:
          $ref: '#/components/schemas/SecureString'
          description: The key used for authorization.
      required:
      - key
      allOf:
      - $ref: '#/components/schemas/LinkedIntegrationRuntimeType'
      x-ms-discriminator-value: Key
    LinkedIntegrationRuntimeRbacAuthorization:
      type: object
      description: The role based access control (RBAC) authorization type integration runtime.
      properties:
        resourceId:
          type: string
          description: The resource identifier of the integration runtime to be shared.
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
      required:
      - resourceId
      allOf:
      - $ref: '#/components/schemas/LinkedIntegrationRuntimeType'
      x-ms-discriminator-value: RBAC
    LinkedIntegrationRuntimeRequest:
      type: object
      description: Data factory name for linked integration runtime request.
      properties:
        factoryName:
          type: string
          description: The data factory name for linked integration runtime.
          x-ms-client-name: linkedFactoryName
      required:
      - factoryName
    LinkedIntegrationRuntimeType:
      type: object
      description: The base definition of a linked integration runtime.
      properties:
        authorizationType:
          type: string
          description: The authorization type for integration runtime sharing.
      discriminator: authorizationType
      required:
      - authorizationType
    LinkedServiceReference:
      type: object
      description: Linked service reference type.
      properties:
        type:
          $ref: '#/components/schemas/Type'
          description: Linked service reference type.
        referenceName:
          type: string
          description: Reference LinkedService name.
        parameters:
          type: object
          description: Arguments for LinkedService.
          additionalProperties: {}
      required:
      - type
      - referenceName
    ManagedIntegrationRuntime:
      type: object
      description: Managed integration runtime, including managed elastic and managed dedicated integration runtimes.
      properties:
        state:
          $ref: '#/components/schemas/IntegrationRuntimeState'
          description: Integration runtime state, only valid for managed dedicated integration runtime.
          readOnly: true
        typeProperties:
          $ref: '#/components/schemas/ManagedIntegrationRuntimeTypeProperties'
          description: Managed integration runtime properties.
          x-ms-client-flatten: true
        managedVirtualNetwork:
          $ref: '#/components/schemas/ManagedVirtualNetworkReference'
          description: Managed Virtual Network reference.
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/IntegrationRuntime'
      x-ms-discriminator-value: Managed
    ManagedIntegrationRuntimeError:
      type: object
      description: Error definition for managed integration runtime.
      properties:
        time:
          type: string
          format: date-time
          description: The time when the error occurred.
          readOnly: true
        code:
          type: string
          description: Error code.
          readOnly: true
        parameters:
          type: array
          description: Managed integration runtime error parameters.
          items:
            type: string
          readOnly: true
        message:
          type: string
          description: Error message.
          readOnly: true
      additionalProperties: {}
    ManagedIntegrationRuntimeNode:
      type: object
      description: Properties of integration runtime node.
      properties:
        nodeId:
          type: string
          description: The managed integration runtime node id.
          readOnly: true
        status:
          $ref: '#/components/schemas/ManagedIntegrationRuntimeNodeStatus'
          description: The managed integration runtime node status.
          readOnly: true
        errors:
          type: array
          description: The errors that occurred on this integration runtime node.
          items:
            $ref: '#/components/schemas/ManagedIntegrationRuntimeError'
          x-ms-identifiers: []
      additionalProperties: {}
    ManagedIntegrationRuntimeNodeStatus:
      type: string
      description: The managed integration runtime node status.
      enum:
      - Starting
      - Available
      - Recycling
      - Unavailable
      x-ms-enum:
        name: ManagedIntegrationRuntimeNodeStatus
        modelAsString: true
        values:
        - name: Starting
          value: Starting
          description: Starting
        - name: Available
          value: Available
          description: Available
        - name: Recycling
          value: Recycling
          description: Recycling
        - name: Unavailable
          value: Unavailable
          description: Unavailable
    ManagedIntegrationRuntimeOperationResult:
      type: object
      description: Properties of managed integration runtime operation result.
      properties:
        type:
          type: string
          description: The operation type. Could be start or stop.
          readOnly: true
        startTime:
          type: string
          format: date-time
          description: The start time of the operation.
          readOnly: true
        result:
          type: string
          description: The operation result.
          readOnly: true
        errorCode:
          type: string
          description: The error code.
          readOnly: true
        parameters:
          type: array
          description: Managed integration runtime error parameters.
          items:
            type: string
          readOnly: true
        activityId:
          type: string
          description: The activity id for the operation request.
          readOnly: true
      additionalProperties: {}
    ManagedIntegrationRuntimeStatus:
      type: object
      description: Managed integration runtime status.
      properties:
        typeProperties:
          $ref: '#/components/schemas/ManagedIntegrationRuntimeStatusTypeProperties'
          description: Managed integration runtime status type properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/IntegrationRuntimeStatus'
      x-ms-discriminator-value: Managed
    ManagedIntegrationRuntimeStatusTypeProperties:
      type: object
      description: Managed integration runtime status type properties.
      properties:
        createTime:
          type: string
          format: date-time
          description: The time at which the integration runtime was created, in ISO8601 format.
          readOnly: true
        nodes:
          type: array
          description: The list of nodes for managed integration runtime.
          items:
            $ref: '#/components/schemas/ManagedIntegrationRuntimeNode'
          readOnly: true
          x-ms-identifiers:
          - nodeId
        otherErrors:
          type: array
          description: The errors that occurred on this integration runtime.
          items:
            $ref: '#/components/schemas/ManagedIntegrationRuntimeError'
          readOnly: true
          x-ms-identifiers: []
        lastOperation:
          $ref: '#/components/schemas/ManagedIntegrationRuntimeOperationResult'
          description: The last operation result that occurred on this integration runtime.
          readOnly: true
    ManagedIntegrationRuntimeTypeProperties:
      type: object
      description: Managed integration runtime type properties.
      properties:
        computeProperties:
          $ref: '#/components/schemas/IntegrationRuntimeComputeProperties'
          description: The compute resource for managed integration runtime.
        ssisProperties:
          $ref: '#/components/schemas/IntegrationRuntimeSsisProperties'
          description: SSIS properties for managed integration runtime.
        customerVirtualNetwork:
          $ref: '#/components/schemas/IntegrationRuntimeCustomerVirtualNetwork'
          description: The name of virtual network to which Azure-SSIS integration runtime will join
        interactiveQuery:
          $ref: '#/components/schemas/InteractiveQueryProperties'
          description: Interactive authoring capability reference.
    ManagedVirtualNetworkReference:
      type: object
      description: Managed Virtual Network reference type.
      properties:
        type:
          $ref: '#/components/schemas/ManagedVirtualNetworkReferenceType'
          description: Managed Virtual Network reference type.
        referenceName:
          type: string
          description: Reference ManagedVirtualNetwork name.
      required:
      - type
      - referenceName
    ManagedVirtualNetworkReferenceType:
      type: string
      description: Managed Virtual Network reference type.
      enum:
      - ManagedVirtualNetworkReference
      x-ms-enum:
        name: ManagedVirtualNetworkReferenceType
        modelAsString: true
        values:
        - name: ManagedVirtualNetworkReference
          value: ManagedVirtualNetworkReference
          description: ManagedVirtualNetworkReference
    PackageStore:
      type: object
      description: Package store for the SSIS integration runtime.
      properties:
        name:
          type: string
          description: The name of the package store
        packageStoreLinkedService:
          $ref: '#/components/schemas/EntityReference'
          description: The package store linked service reference.
      required:
      - name
      - packageStoreLinkedService
    PipelineExternalComputeScaleProperties:
      type: object
      description: PipelineExternalComputeScale properties for managed integration runtime.
      properties:
        timeToLive:
          type: integer
          format: int32
          description: Time to live (in minutes) setting of integration runtime which will execute pipeline and external activity.
          minimum: 5
        numberOfPipelineNodes:
          type: integer
          format: int32
          description: Number of the pipeline nodes, which should be greater than 0 and less than 11.
          minimum: 1
          maximum: 10
        numberOfExternalNodes:
          type: integer
          format: int32
          description: Number of the the external nodes, which should be greater than 0 and less than 11.
          minimum: 1
          maximum: 10
      additionalProperties: {}
    SecretBase:
      type: object
      description: The base definition of a secret type.
      properties:
        type:
          type: string
          description: Type of the secret.
      discriminator: type
      required:
      - type
    SecureString:
      type: object
      description: Azure Data Factory secure string definition. The string value will be masked with asterisks '*' during
        Get or List API calls.
      properties:
        value:
          type: string
          description: Value of secure string.
      required:
      - value
      allOf:
      - $ref: '#/components/schemas/SecretBase'
      x-ms-discriminator-value: SecureString
    SelfHostedIntegrationRuntime:
      type: object
      description: Self-hosted integration runtime.
      properties:
        typeProperties:
          $ref: '#/components/schemas/SelfHostedIntegrationRuntimeTypeProperties'
          description: When this property is not null, means this is a linked integration runtime. The property is used to
            access original integration runtime.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/IntegrationRuntime'
      x-ms-discriminator-value: SelfHosted
    SelfHostedIntegrationRuntimeNode:
      type: object
      description: Properties of Self-hosted integration runtime node.
      properties:
        nodeName:
          type: string
          description: Name of the integration runtime node.
          readOnly: true
        machineName:
          type: string
          description: Machine name of the integration runtime node.
          readOnly: true
        hostServiceUri:
          type: string
          description: URI for the host machine of the integration runtime.
          readOnly: true
        status:
          $ref: '#/components/schemas/SelfHostedIntegrationRuntimeNodeStatus'
          description: Status of the integration runtime node.
          readOnly: true
        capabilities:
          type: object
          description: The integration runtime capabilities dictionary
          additionalProperties:
            type: string
          readOnly: true
        versionStatus:
          type: string
          description: Status of the integration runtime node version.
          readOnly: true
        version:
          type: string
          description: Version of the integration runtime node.
          readOnly: true
        registerTime:
          type: string
          format: date-time
          description: The time at which the integration runtime node was registered in ISO8601 format.
          readOnly: true
        lastConnectTime:
          type: string
          format: date-time
          description: The most recent time at which the integration runtime was connected in ISO8601 format.
          readOnly: true
        expiryTime:
          type: string
          format: date-time
          description: The time at which the integration runtime will expire in ISO8601 format.
          readOnly: true
        lastStartTime:
          type: string
          format: date-time
          description: The time the node last started up.
          readOnly: true
        lastStopTime:
          type: string
          format: date-time
          description: The integration runtime node last stop time.
          readOnly: true
        lastUpdateResult:
          $ref: '#/components/schemas/IntegrationRuntimeUpdateResult'
          description: The result of the last integration runtime node update.
          readOnly: true
        lastStartUpdateTime:
          type: string
          format: date-time
          description: The last time for the integration runtime node update start.
          readOnly: true
        lastEndUpdateTime:
          type: string
          format: date-time
          description: The last time for the integration runtime node update end.
          readOnly: true
        isActiveDispatcher:
          type: boolean
          description: Indicates whether this node is the active dispatcher for integration runtime requests.
          readOnly: true
        concurrentJobsLimit:
          type: integer
          format: int32
          description: Maximum concurrent jobs on the integration runtime node.
          readOnly: true
        maxConcurrentJobs:
          type: integer
          format: int32
          description: The maximum concurrent jobs in this integration runtime.
          readOnly: true
      additionalProperties: {}
    SelfHostedIntegrationRuntimeNodeStatus:
      type: string
      description: Status of the integration runtime node.
      enum:
      - NeedRegistration
      - Online
      - Limited
      - Offline
      - Upgrading
      - Initializing
      - InitializeFailed
      x-ms-enum:
        name: SelfHostedIntegrationRuntimeNodeStatus
        modelAsString: true
        values:
        - name: NeedRegistration
          value: NeedRegistration
          description: NeedRegistration
        - name: Online
          value: Online
          description: Online
        - name: Limited
          value: Limited
          description: Limited
        - name: Offline
          value: Offline
          description: Offline
        - name: Upgrading
          value: Upgrading
          description: Upgrading
        - name: Initializing
          value: Initializing
          description: Initializing
        - name: InitializeFailed
          value: InitializeFailed
          description: InitializeFailed
    SelfHostedIntegrationRuntimeStatus:
      type: object
      description: Self-hosted integration runtime status.
      properties:
        typeProperties:
          $ref: '#/components/schemas/SelfHostedIntegrationRuntimeStatusTypeProperties'
          description: Self-hosted integration runtime status type properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/IntegrationRuntimeStatus'
      x-ms-discriminator-value: SelfHosted
    SelfHostedIntegrationRuntimeStatusTypeProperties:
      type: object
      description: Self-hosted integration runtime status type properties.
      properties:
        createTime:
          type: string
          format: date-time
          description: The time at which the integration runtime was created, in ISO8601 format.
          readOnly: true
        taskQueueId:
          type: string
          description: The task queue id of the integration runtime.
          readOnly: true
        internalChannelEncryption:
          $ref: '#/components/schemas/IntegrationRuntimeInternalChannelEncryptionMode'
          description: It is used to set the encryption mode for node-node communication channel (when more than 2 self-hosted
            integration runtime nodes exist).
          readOnly: true
        version:
          type: string
          description: Version of the integration runtime.
          readOnly: true
        nodes:
          type: array
          description: The list of nodes for this integration runtime.
          items:
            $ref: '#/components/schemas/SelfHostedIntegrationRuntimeNode'
          x-ms-identifiers:
          - nodeName
        scheduledUpdateDate:
          type: string
          format: date-time
          description: The date at which the integration runtime will be scheduled to update, in ISO8601 format.
          readOnly: true
        updateDelayOffset:
          type: string
          description: The time in the date scheduled by service to update the integration runtime, e.g., PT03H is 3 hours
          readOnly: true
        localTimeZoneOffset:
          type: string
          description: The local time zone offset in hours.
          readOnly: true
        capabilities:
          type: object
          description: Object with additional information about integration runtime capabilities.
          additionalProperties:
            type: string
          readOnly: true
        serviceUrls:
          type: array
          description: The URLs for the services used in integration runtime backend service.
          items:
            type: string
          readOnly: true
        autoUpdate:
          $ref: '#/components/schemas/IntegrationRuntimeAutoUpdate'
          description: Whether Self-hosted integration runtime auto update has been turned on.
          readOnly: true
        versionStatus:
          type: string
          description: Status of the integration runtime version.
          readOnly: true
        links:
          type: array
          description: The list of linked integration runtimes that are created to share with this integration runtime.
          items:
            $ref: '#/components/schemas/LinkedIntegrationRuntime'
          x-ms-identifiers:
          - name
        pushedVersion:
          type: string
          description: The version that the integration runtime is going to update to.
          readOnly: true
        latestVersion:
          type: string
          description: The latest version on download center.
          readOnly: true
        autoUpdateETA:
          type: string
          format: date-time
          description: The estimated time when the self-hosted integration runtime will be updated.
          readOnly: true
        selfContainedInteractiveAuthoringEnabled:
          type: boolean
          description: An alternative option to ensure interactive authoring function when your self-hosted integration runtime
            is unable to establish a connection with Azure Relay.
          readOnly: true
    SelfHostedIntegrationRuntimeTypeProperties:
      type: object
      description: The self-hosted integration runtime properties.
      properties:
        linkedInfo:
          $ref: '#/components/schemas/LinkedIntegrationRuntimeType'
          description: The base definition of a linked integration runtime.
        selfContainedInteractiveAuthoringEnabled:
          type: boolean
          description: An alternative option to ensure interactive authoring function when your self-hosted integration runtime
            is unable to establish a connection with Azure Relay.
    Type:
      type: string
      description: Linked service reference type.
      enum:
      - LinkedServiceReference
      x-ms-enum:
        name: Type
        modelAsString: true
        values:
        - name: LinkedServiceReference
          value: LinkedServiceReference
          description: LinkedServiceReference
    UpdateIntegrationRuntimeRequest:
      type: object
      description: Update integration runtime request.
      properties:
        autoUpdate:
          $ref: '#/components/schemas/IntegrationRuntimeAutoUpdate'
          description: Enables or disables the auto-update feature of the self-hosted integration runtime. See https://go.microsoft.com/fwlink/?linkid=854189.
        updateDelayOffset:
          type: string
          description: The time offset (in hours) in the day, e.g., PT03H is 3 hours. The integration runtime auto update
            will happen on that time.
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
