openapi: 3.0.3
info:
  title: Azure Data Factory REST globalParameters API
  description: Azure Data Factory is a cloud-based data integration service. The Microsoft.DataFactory resource-provider REST
    API manages factories, pipelines, datasets, linked services, data flows, triggers, integration runtimes, credentials,
    managed private endpoints and change data capture resources through Azure Resource Manager.
  version: '2018-06-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/datafactory/
  x-source: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/openapi.json
  x-source-format: Swagger 2.0 (converted verbatim to OpenAPI 3.0.3; original retained at openapi/_original/)
externalDocs:
  description: Azure Data Factory REST API reference
  url: https://learn.microsoft.com/en-us/rest/api/datafactory/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: globalParameters
  description: globalParameters operations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/globalParameters
  : get:
      operationId: GlobalParameters_ListByFactory
      description: Lists Global parameters
      tags:
      - globalParameters
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalParameterListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GlobalParameters_ListByFactory:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/GlobalParameters_ListByFactory.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/globalParameters/{globalParameterName}
  : get:
      operationId: GlobalParameters_Get
      description: Gets a Global parameter
      tags:
      - globalParameters
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: globalParameterName
        in: path
        required: true
        description: The global parameter name.
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalParameterResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GlobalParameters_Get:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/GlobalParameters_Get.json
    put:
      operationId: GlobalParameters_CreateOrUpdate
      description: Creates or updates a Global parameter
      tags:
      - globalParameters
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: globalParameterName
        in: path
        required: true
        description: The global parameter name.
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalParameterResource'
        description: Global parameter resource definition.
      responses:
        '200':
          description: Resource 'GlobalParameterResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalParameterResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GlobalParameters_Create:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/GlobalParameters_Create.json
        GlobalParameters_Update:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/GlobalParameters_Update.json
    delete:
      operationId: GlobalParameters_Delete
      description: Deletes a Global parameter
      tags:
      - globalParameters
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: globalParameterName
        in: path
        required: true
        description: The global parameter name.
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GlobalParameters_Delete:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/GlobalParameters_Delete.json
components:
  schemas:
    CloudError:
      type: object
      description: The object that defines the structure of an Azure Data Factory error response.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Error data
          x-ms-client-flatten: true
      required:
      - error
      x-ms-external: true
    CloudErrorBody:
      type: object
      description: The object that defines the structure of an Azure Data Factory error.
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Property name/path in request associated with error.
        details:
          type: array
          description: Array with additional error details.
          items:
            $ref: '#/components/schemas/CloudError'
          x-ms-identifiers: []
      required:
      - code
      - message
      x-ms-external: true
    GlobalParameterListResponse:
      type: object
      description: A list of Global parameters.
      properties:
        value:
          type: array
          description: The GlobalParameterResource items on this page
          items:
            $ref: '#/components/schemas/GlobalParameterResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    GlobalParameterResource:
      type: object
      description: Global parameters resource type.
      properties:
        properties:
          type: object
          description: Properties of the global parameter.
          additionalProperties:
            $ref: '#/components/schemas/GlobalParameterSpecification'
        etag:
          type: string
          description: '"If etag is provided in the response body, it may also be provided as a header per the normal etag
            convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1
            uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range
            (section 14.27) header fields.")'
          readOnly: true
      required:
      - properties
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource
    GlobalParameterSpecification:
      type: object
      description: Definition of a single parameter for an entity.
      properties:
        type:
          $ref: '#/components/schemas/GlobalParameterType'
          description: Global Parameter type.
        value:
          description: Value of parameter.
      required:
      - type
      - value
    GlobalParameterType:
      type: string
      description: Global Parameter type.
      enum:
      - Object
      - String
      - Int
      - Float
      - Bool
      - Array
      x-ms-enum:
        name: GlobalParameterType
        modelAsString: true
        values:
        - name: Object
          value: Object
          description: Object
        - name: String
          value: String
          description: String
        - name: Int
          value: Int
          description: Int
        - name: Float
          value: Float
          description: Float
        - name: Bool
          value: Bool
          description: Bool
        - name: Array
          value: Array
          description: Array
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
