openapi: 3.2.0
info:
  title: DataFactoryManagementClient Activityruns API
  version: '2018-06-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: activityruns
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/pipelineruns/{runId}/queryActivityruns
  : post:
      operationId: ActivityRuns_QueryByPipelineRun
      tags:
      - activityruns
      description: Query activity runs based on input filter conditions.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: runId
        in: path
        description: The pipeline run identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityRunsQueryResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ActivityRuns_QueryByPipelineRun:
          $ref: ./examples/ActivityRuns_QueryByPipelineRun.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunFilterParameters'
        description: Parameters to filter the activity runs.
        required: true
      summary: Activity runs query by pipeline run
      x-summary-source: derived
components:
  schemas:
    RunQueryFilterOperator:
      type: string
      description: Operator to be used for filter.
      enum:
      - Equals
      - NotEquals
      - In
      - NotIn
      x-ms-enum:
        name: RunQueryFilterOperator
        modelAsString: true
        values:
        - name: Equals
          value: Equals
          description: Equals
        - name: NotEquals
          value: NotEquals
          description: NotEquals
        - name: In
          value: In
          description: In
        - name: NotIn
          value: NotIn
          description: NotIn
    CloudError:
      type: object
      description: The object that defines the structure of an Azure Data Factory error response.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Error data
          x-ms-client-flatten: true
      required:
      - error
      x-ms-external: true
    ActivityRun:
      type: object
      description: Information about an activity run in a pipeline.
      properties:
        pipelineName:
          type: string
          description: The name of the pipeline.
          readOnly: true
        pipelineRunId:
          type: string
          description: The id of the pipeline run.
          readOnly: true
        activityName:
          type: string
          description: The name of the activity.
          readOnly: true
        activityType:
          type: string
          description: The type of the activity.
          readOnly: true
        activityRunId:
          type: string
          description: The id of the activity run.
          readOnly: true
        linkedServiceName:
          type: string
          description: The name of the compute linked service.
          readOnly: true
        status:
          type: string
          description: The status of the activity run.
          readOnly: true
        activityRunStart:
          type: string
          format: date-time
          description: The start time of the activity run in 'ISO 8601' format.
          readOnly: true
        activityRunEnd:
          type: string
          format: date-time
          description: The end time of the activity run in 'ISO 8601' format.
          readOnly: true
        durationInMs:
          type: integer
          format: int32
          description: The duration of the activity run.
          readOnly: true
        input:
          description: The input for the activity.
          readOnly: true
        output:
          description: The output for the activity.
          readOnly: true
        error:
          description: The error if any from the activity run.
          readOnly: true
      additionalProperties: {}
    RunQueryFilterOperand:
      type: string
      description: Parameter name to be used for filter. The allowed operands to query pipeline runs are PipelineName, RunStart, RunEnd and Status; to query activity runs are ActivityName, ActivityRunStart, ActivityRunEnd, ActivityType and Status, and to query trigger runs are TriggerName, TriggerRunTimestamp and Status.
      enum:
      - PipelineName
      - Status
      - RunStart
      - RunEnd
      - ActivityName
      - ActivityRunStart
      - ActivityRunEnd
      - ActivityType
      - TriggerName
      - TriggerRunTimestamp
      - RunGroupId
      - LatestOnly
      x-ms-enum:
        name: RunQueryFilterOperand
        modelAsString: true
        values:
        - name: PipelineName
          value: PipelineName
          description: PipelineName
        - name: Status
          value: Status
          description: Status
        - name: RunStart
          value: RunStart
          description: RunStart
        - name: RunEnd
          value: RunEnd
          description: RunEnd
        - name: ActivityName
          value: ActivityName
          description: ActivityName
        - name: ActivityRunStart
          value: ActivityRunStart
          description: ActivityRunStart
        - name: ActivityRunEnd
          value: ActivityRunEnd
          description: ActivityRunEnd
        - name: ActivityType
          value: ActivityType
          description: ActivityType
        - name: TriggerName
          value: TriggerName
          description: TriggerName
        - name: TriggerRunTimestamp
          value: TriggerRunTimestamp
          description: TriggerRunTimestamp
        - name: RunGroupId
          value: RunGroupId
          description: RunGroupId
        - name: LatestOnly
          value: LatestOnly
          description: LatestOnly
    CloudErrorBody:
      type: object
      description: The object that defines the structure of an Azure Data Factory error.
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Property name/path in request associated with error.
        details:
          type: array
          description: Array with additional error details.
          items:
            $ref: '#/components/schemas/CloudError'
          x-ms-identifiers: []
      required:
      - code
      - message
      x-ms-external: true
    RunQueryFilter:
      type: object
      description: Query filter option for listing runs.
      properties:
        operand:
          $ref: '#/components/schemas/RunQueryFilterOperand'
          description: Parameter name to be used for filter. The allowed operands to query pipeline runs are PipelineName, RunStart, RunEnd and Status; to query activity runs are ActivityName, ActivityRunStart, ActivityRunEnd, ActivityType and Status, and to query trigger runs are TriggerName, TriggerRunTimestamp and Status.
        operator:
          $ref: '#/components/schemas/RunQueryFilterOperator'
          description: Operator to be used for filter.
        values:
          type: array
          description: List of filter values.
          items:
            type: string
      required:
      - operand
      - operator
      - values
    RunQueryOrder:
      type: string
      description: Sorting order of the parameter.
      enum:
      - ASC
      - DESC
      x-ms-enum:
        name: RunQueryOrder
        modelAsString: true
        values:
        - name: ASC
          value: ASC
          description: ASC
        - name: DESC
          value: DESC
          description: DESC
    RunQueryOrderBy:
      type: object
      description: An object to provide order by options for listing runs.
      properties:
        orderBy:
          $ref: '#/components/schemas/RunQueryOrderByField'
          description: Parameter name to be used for order by. The allowed parameters to order by for pipeline runs are PipelineName, RunStart, RunEnd and Status; for activity runs are ActivityName, ActivityRunStart, ActivityRunEnd and Status; for trigger runs are TriggerName, TriggerRunTimestamp and Status.
        order:
          $ref: '#/components/schemas/RunQueryOrder'
          description: Sorting order of the parameter.
      required:
      - orderBy
      - order
    ActivityRunsQueryResponse:
      type: object
      description: A list activity runs.
      properties:
        value:
          type: array
          description: List of activity runs.
          items:
            $ref: '#/components/schemas/ActivityRun'
          x-ms-identifiers:
          - pipelineRunId
        continuationToken:
          type: string
          description: The continuation token for getting the next page of results, if any remaining results exist, null otherwise.
      required:
      - value
    RunQueryOrderByField:
      type: string
      description: Parameter name to be used for order by. The allowed parameters to order by for pipeline runs are PipelineName, RunStart, RunEnd and Status; for activity runs are ActivityName, ActivityRunStart, ActivityRunEnd and Status; for trigger runs are TriggerName, TriggerRunTimestamp and Status.
      enum:
      - RunStart
      - RunEnd
      - PipelineName
      - Status
      - ActivityName
      - ActivityRunStart
      - ActivityRunEnd
      - TriggerName
      - TriggerRunTimestamp
      x-ms-enum:
        name: RunQueryOrderByField
        modelAsString: true
        values:
        - name: RunStart
          value: RunStart
          description: RunStart
        - name: RunEnd
          value: RunEnd
          description: RunEnd
        - name: PipelineName
          value: PipelineName
          description: PipelineName
        - name: Status
          value: Status
          description: Status
        - name: ActivityName
          value: ActivityName
          description: ActivityName
        - name: ActivityRunStart
          value: ActivityRunStart
          description: ActivityRunStart
        - name: ActivityRunEnd
          value: ActivityRunEnd
          description: ActivityRunEnd
        - name: TriggerName
          value: TriggerName
          description: TriggerName
        - name: TriggerRunTimestamp
          value: TriggerRunTimestamp
          description: TriggerRunTimestamp
    RunFilterParameters:
      type: object
      description: Query parameters for listing runs.
      properties:
        continuationToken:
          type: string
          description: The continuation token for getting the next page of results. Null for first page.
        lastUpdatedAfter:
          type: string
          format: date-time
          description: The time at or after which the run event was updated in 'ISO 8601' format.
        lastUpdatedBefore:
          type: string
          format: date-time
          description: The time at or before which the run event was updated in 'ISO 8601' format.
        filters:
          type: array
          description: List of filters.
          items:
            $ref: '#/components/schemas/RunQueryFilter'
          x-ms-identifiers: []
        orderBy:
          type: array
          description: List of OrderBy option.
          items:
            $ref: '#/components/schemas/RunQueryOrderBy'
          x-ms-identifiers: []
      required:
      - lastUpdatedAfter
      - lastUpdatedBefore
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
