openapi: 3.0.3
info:
  title: Azure Data Factory REST credentials API
  description: Azure Data Factory is a cloud-based data integration service. The Microsoft.DataFactory resource-provider REST
    API manages factories, pipelines, datasets, linked services, data flows, triggers, integration runtimes, credentials,
    managed private endpoints and change data capture resources through Azure Resource Manager.
  version: '2018-06-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/datafactory/
  x-source: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/openapi.json
  x-source-format: Swagger 2.0 (converted verbatim to OpenAPI 3.0.3; original retained at openapi/_original/)
externalDocs:
  description: Azure Data Factory REST API reference
  url: https://learn.microsoft.com/en-us/rest/api/datafactory/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: credentials
  description: credentials operations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/credentials
  : get:
      operationId: CredentialOperations_ListByFactory
      description: List credentials.
      tags:
      - credentials
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Credentials_ListByFactory:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/Credentials_ListByFactory.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/credentials/{credentialName}
  : get:
      operationId: CredentialOperations_Get
      description: Gets a credential.
      tags:
      - credentials
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: credentialName
        in: path
        required: true
        description: Credential name
        schema:
          type: string
          maxLength: 127
          minLength: 1
          pattern: ^([_A-Za-z0-9]|([_A-Za-z0-9][-_A-Za-z0-9]{0,125}[_A-Za-z0-9]))$
      - name: if-none-match
        in: header
        required: false
        description: ETag of the credential entity. Should only be specified for get. If the ETag matches the existing entity
          tag, or if * was provided, then no content will be returned.
        schema:
          type: string
        x-ms-client-name: If-None-Match
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResource'
        '304':
          description: The client has made a conditional request and the resource has not been modified.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Credentials_Get:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/Credentials_Get.json
    put:
      operationId: CredentialOperations_CreateOrUpdate
      description: Creates or updates a credential.
      tags:
      - credentials
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: credentialName
        in: path
        required: true
        description: Credential name
        schema:
          type: string
          maxLength: 127
          minLength: 1
          pattern: ^([_A-Za-z0-9]|([_A-Za-z0-9][-_A-Za-z0-9]{0,125}[_A-Za-z0-9]))$
      - name: if-match
        in: header
        required: false
        description: ETag of the credential entity. Should only be specified for update, for which it should match existing
          entity or can be * for unconditional update.
        schema:
          type: string
        x-ms-client-name: If-Match
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialResource'
        description: Credential resource definition.
      responses:
        '200':
          description: Resource 'CredentialResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Credentials_Create:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/Credentials_Create.json
    delete:
      operationId: CredentialOperations_Delete
      description: Deletes a credential.
      tags:
      - credentials
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: credentialName
        in: path
        required: true
        description: Credential name
        schema:
          type: string
          maxLength: 127
          minLength: 1
          pattern: ^([_A-Za-z0-9]|([_A-Za-z0-9][-_A-Za-z0-9]{0,125}[_A-Za-z0-9]))$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Credentials_Delete:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/Credentials_Delete.json
components:
  schemas:
    AzureKeyVaultSecretReference:
      type: object
      description: Azure Key Vault secret reference.
      properties:
        store:
          $ref: '#/components/schemas/LinkedServiceReference'
          description: The Azure Key Vault linked service reference.
        secretName:
          description: 'The name of the secret in Azure Key Vault. Type: string (or Expression with resultType string).'
        secretVersion:
          description: 'The version of the secret in Azure Key Vault. The default value is the latest version of the secret.
            Type: string (or Expression with resultType string).'
      required:
      - store
      - secretName
      allOf:
      - $ref: '#/components/schemas/SecretBase'
      x-ms-discriminator-value: AzureKeyVaultSecret
    CloudError:
      type: object
      description: The object that defines the structure of an Azure Data Factory error response.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Error data
          x-ms-client-flatten: true
      required:
      - error
      x-ms-external: true
    CloudErrorBody:
      type: object
      description: The object that defines the structure of an Azure Data Factory error.
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Property name/path in request associated with error.
        details:
          type: array
          description: Array with additional error details.
          items:
            $ref: '#/components/schemas/CloudError'
          x-ms-identifiers: []
      required:
      - code
      - message
      x-ms-external: true
    Credential:
      type: object
      description: The Azure Data Factory nested object which contains the information and credential which can be used to
        connect with related store or compute resource.
      properties:
        type:
          type: string
          description: Type of credential.
        description:
          type: string
          description: Credential description.
        annotations:
          type: array
          description: List of tags that can be used for describing the Credential.
          items: {}
      discriminator: type
      required:
      - type
      additionalProperties: {}
    CredentialListResponse:
      type: object
      description: A list of credential resources.
      properties:
        value:
          type: array
          description: The CredentialResource items on this page
          items:
            $ref: '#/components/schemas/CredentialResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    CredentialResource:
      type: object
      description: Credential resource type.
      properties:
        properties:
          $ref: '#/components/schemas/Credential'
          description: Properties of credentials.
        etag:
          type: string
          description: '"If etag is provided in the response body, it may also be provided as a header per the normal etag
            convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1
            uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range
            (section 14.27) header fields.")'
          readOnly: true
      required:
      - properties
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource
    LinkedServiceReference:
      type: object
      description: Linked service reference type.
      properties:
        type:
          $ref: '#/components/schemas/Type'
          description: Linked service reference type.
        referenceName:
          type: string
          description: Reference LinkedService name.
        parameters:
          type: object
          description: Arguments for LinkedService.
          additionalProperties: {}
      required:
      - type
      - referenceName
    ManagedIdentityCredential:
      type: object
      description: Managed identity credential.
      properties:
        typeProperties:
          $ref: '#/components/schemas/ManagedIdentityTypeProperties'
          description: Managed identity credential properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Credential'
      x-ms-discriminator-value: ManagedIdentity
    ManagedIdentityTypeProperties:
      type: object
      description: Managed identity type properties.
      properties:
        resourceId:
          type: string
          description: The resource id of user assigned managed identity
    SecretBase:
      type: object
      description: The base definition of a secret type.
      properties:
        type:
          type: string
          description: Type of the secret.
      discriminator: type
      required:
      - type
    SecureString:
      type: object
      description: Azure Data Factory secure string definition. The string value will be masked with asterisks '*' during
        Get or List API calls.
      properties:
        value:
          type: string
          description: Value of secure string.
      required:
      - value
      allOf:
      - $ref: '#/components/schemas/SecretBase'
      x-ms-discriminator-value: SecureString
    ServicePrincipalCredential:
      type: object
      description: Service principal credential.
      properties:
        typeProperties:
          $ref: '#/components/schemas/ServicePrincipalCredentialTypeProperties'
          description: Service Principal credential properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/Credential'
      x-ms-discriminator-value: ServicePrincipal
    ServicePrincipalCredentialTypeProperties:
      type: object
      description: Service Principal credential type properties.
      properties:
        servicePrincipalId:
          description: The app ID of the service principal used to authenticate
        servicePrincipalKey:
          $ref: '#/components/schemas/AzureKeyVaultSecretReference'
          description: The key of the service principal used to authenticate.
        tenant:
          description: The ID of the tenant to which the service principal belongs
    Type:
      type: string
      description: Linked service reference type.
      enum:
      - LinkedServiceReference
      x-ms-enum:
        name: Type
        modelAsString: true
        values:
        - name: LinkedServiceReference
          value: LinkedServiceReference
          description: LinkedServiceReference
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
