openapi: 3.2.0
info:
  title: DataFactoryManagementClient Credentials API
  version: '2018-06-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Credentials
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/credentials
  : get:
      operationId: CredentialOperations_ListByFactory
      tags:
      - Credentials
      description: List credentials.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Credentials_ListByFactory:
          $ref: ./examples/Credentials_ListByFactory.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Credential operations list by factory
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/credentials/{credentialName}
  : get:
      operationId: CredentialOperations_Get
      tags:
      - Credentials
      description: Gets a credential.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: credentialName
        in: path
        description: Credential name
        required: true
        schema:
          type: string
          maxLength: 127
          minLength: 1
          pattern: ^([_A-Za-z0-9]|([_A-Za-z0-9][-_A-Za-z0-9]{0,125}[_A-Za-z0-9]))$
      - name: if-none-match
        in: header
        description: ETag of the credential entity. Should only be specified for get. If the ETag matches the existing entity tag, or if * was provided, then no content will be returned.
        required: false
        x-ms-client-name: If-None-Match
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResource'
        '304':
          description: The client has made a conditional request and the resource has not been modified.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Credentials_Get:
          $ref: ./examples/Credentials_Get.json
      summary: Credential operations get
      x-summary-source: derived
    put:
      operationId: CredentialOperations_CreateOrUpdate
      tags:
      - Credentials
      description: Creates or updates a credential.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: credentialName
        in: path
        description: Credential name
        required: true
        schema:
          type: string
          maxLength: 127
          minLength: 1
          pattern: ^([_A-Za-z0-9]|([_A-Za-z0-9][-_A-Za-z0-9]{0,125}[_A-Za-z0-9]))$
      - name: if-match
        in: header
        description: ETag of the credential entity. Should only be specified for update, for which it should match existing entity or can be * for unconditional update.
        required: false
        x-ms-client-name: If-Match
        schema:
          type: string
      responses:
        '200':
          description: Resource 'CredentialResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Credentials_Create:
          $ref: ./examples/Credentials_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialResource'
        description: Credential resource definition.
        required: true
      summary: Credential operations create or update
      x-summary-source: derived
    delete:
      operationId: CredentialOperations_Delete
      tags:
      - Credentials
      description: Deletes a credential.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: credentialName
        in: path
        description: Credential name
        required: true
        schema:
          type: string
          maxLength: 127
          minLength: 1
          pattern: ^([_A-Za-z0-9]|([_A-Za-z0-9][-_A-Za-z0-9]{0,125}[_A-Za-z0-9]))$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Credentials_Delete:
          $ref: ./examples/Credentials_Delete.json
      summary: Credential operations delete
      x-summary-source: derived
components:
  schemas:
    CloudError:
      type: object
      description: The object that defines the structure of an Azure Data Factory error response.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Error data
          x-ms-client-flatten: true
      required:
      - error
      x-ms-external: true
    CloudErrorBody:
      type: object
      description: The object that defines the structure of an Azure Data Factory error.
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Property name/path in request associated with error.
        details:
          type: array
          description: Array with additional error details.
          items:
            $ref: '#/components/schemas/CloudError'
          x-ms-identifiers: []
      required:
      - code
      - message
      x-ms-external: true
    CredentialResource:
      type: object
      description: Credential resource type.
      properties:
        properties:
          $ref: '#/components/schemas/Credential'
          description: Properties of credentials.
        etag:
          type: string
          description: '"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.")'
          readOnly: true
      required:
      - properties
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource
    CredentialListResponse:
      type: object
      description: A list of credential resources.
      properties:
        value:
          type: array
          description: The CredentialResource items on this page
          items:
            $ref: '#/components/schemas/CredentialResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    Credential:
      type: object
      description: The Azure Data Factory nested object which contains the information and credential which can be used to connect with related store or compute resource.
      properties:
        type:
          type: string
          description: Type of credential.
        description:
          type: string
          description: Credential description.
        annotations:
          type: array
          description: List of tags that can be used for describing the Credential.
          items: {}
      discriminator:
        propertyName: type
      required:
      - type
      additionalProperties: {}
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
