openapi: 3.2.0
info:
  title: DataFactoryManagementClient Data Flows API
  version: '2018-06-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: dataFlows
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/dataflows
  : get:
      operationId: DataFlows_ListByFactory
      tags:
      - dataFlows
      description: Lists data flows.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFlowListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DataFlows_ListByFactory:
          $ref: ./examples/DataFlows_ListByFactory.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Data flows list by factory
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/dataflows/{dataFlowName}
  : get:
      operationId: DataFlows_Get
      tags:
      - dataFlows
      description: Gets a data flow.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: dataFlowName
        in: path
        description: The data flow name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      - name: if-none-match
        in: header
        description: ETag of the data flow entity. Should only be specified for get. If the ETag matches the existing entity tag, or if * was provided, then no content will be returned.
        required: false
        x-ms-client-name: If-None-Match
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFlowResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DataFlows_Get:
          $ref: ./examples/DataFlows_Get.json
      summary: Data flows get
      x-summary-source: derived
    put:
      operationId: DataFlows_CreateOrUpdate
      tags:
      - dataFlows
      description: Creates or updates a data flow.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: dataFlowName
        in: path
        description: The data flow name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      - name: if-match
        in: header
        description: ETag of the data flow entity. Should only be specified for update, for which it should match existing entity or can be * for unconditional update.
        required: false
        x-ms-client-name: If-Match
        schema:
          type: string
      responses:
        '200':
          description: Resource 'DataFlowResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFlowResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DataFlows_Create:
          $ref: ./examples/DataFlows_Create.json
        DataFlows_Update:
          $ref: ./examples/DataFlows_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFlowResource'
        description: Data flow resource definition.
        required: true
      summary: Data flows create or update
      x-summary-source: derived
    delete:
      operationId: DataFlows_Delete
      tags:
      - dataFlows
      description: Deletes a data flow.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: dataFlowName
        in: path
        description: The data flow name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DataFlows_Delete:
          $ref: ./examples/DataFlows_Delete.json
      summary: Data flows delete
      x-summary-source: derived
components:
  schemas:
    DataFlowListResponse:
      type: object
      description: A list of data flow resources.
      properties:
        value:
          type: array
          description: The DataFlowResource items on this page
          items:
            $ref: '#/components/schemas/DataFlowResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    CloudErrorBody:
      type: object
      description: The object that defines the structure of an Azure Data Factory error.
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Property name/path in request associated with error.
        details:
          type: array
          description: Array with additional error details.
          items:
            $ref: '#/components/schemas/CloudError'
          x-ms-identifiers: []
      required:
      - code
      - message
      x-ms-external: true
    DataFlowResource:
      type: object
      description: Data flow resource type.
      properties:
        properties:
          $ref: '#/components/schemas/DataFlow'
          description: Data flow properties.
        etag:
          type: string
          description: '"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.")'
          readOnly: true
      required:
      - properties
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource
    DataFlow:
      type: object
      description: Azure Data Factory nested object which contains a flow with data movements and transformations.
      properties:
        type:
          type: string
          description: Type of data flow.
        description:
          type: string
          description: The description of the data flow.
        annotations:
          type: array
          description: List of tags that can be used for describing the data flow.
          items: {}
        folder:
          $ref: '#/components/schemas/DataFlowFolder'
          description: The folder that this data flow is in. If not specified, Data flow will appear at the root level.
      discriminator:
        propertyName: type
      required:
      - type
    CloudError:
      type: object
      description: The object that defines the structure of an Azure Data Factory error response.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Error data
          x-ms-client-flatten: true
      required:
      - error
      x-ms-external: true
    DataFlowFolder:
      type: object
      description: The folder that this data flow is in. If not specified, Data flow will appear at the root level.
      properties:
        name:
          type: string
          description: The name of the folder that this data flow is in.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
