openapi: 3.2.0
info:
  title: DataFactoryManagementClient Linked Services API
  version: '2018-06-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: linkedServices
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices
  : get:
      operationId: LinkedServices_ListByFactory
      tags:
      - linkedServices
      description: Lists linked services.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedServiceListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        LinkedServices_ListByFactory:
          $ref: ./examples/LinkedServices_ListByFactory.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Linked services list by factory
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/linkedservices/{linkedServiceName}
  : get:
      operationId: LinkedServices_Get
      tags:
      - linkedServices
      description: Gets a linked service.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: linkedServiceName
        in: path
        description: The linked service name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      - name: if-none-match
        in: header
        description: ETag of the linked service entity. Should only be specified for get. If the ETag matches the existing entity tag, or if * was provided, then no content will be returned.
        required: false
        x-ms-client-name: If-None-Match
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedServiceResource'
        '304':
          description: The client has made a conditional request and the resource has not been modified.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        LinkedServices_Get:
          $ref: ./examples/LinkedServices_Get.json
      summary: Linked services get
      x-summary-source: derived
    put:
      operationId: LinkedServices_CreateOrUpdate
      tags:
      - linkedServices
      description: Creates or updates a linked service.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: linkedServiceName
        in: path
        description: The linked service name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      - name: if-match
        in: header
        description: ETag of the linkedService entity.  Should only be specified for update, for which it should match existing entity or can be * for unconditional update.
        required: false
        x-ms-client-name: If-Match
        schema:
          type: string
      responses:
        '200':
          description: Resource 'LinkedServiceResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedServiceResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        LinkedServices_Create:
          $ref: ./examples/LinkedServices_Create.json
        LinkedServices_Update:
          $ref: ./examples/LinkedServices_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedServiceResource'
        description: Linked service resource definition.
        required: true
      summary: Linked services create or update
      x-summary-source: derived
    delete:
      operationId: LinkedServices_Delete
      tags:
      - linkedServices
      description: Deletes a linked service.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: linkedServiceName
        in: path
        description: The linked service name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        LinkedServices_Delete:
          $ref: ./examples/LinkedServices_Delete.json
      summary: Linked services delete
      x-summary-source: derived
components:
  schemas:
    LinkedServiceResource:
      type: object
      description: Linked service resource type.
      properties:
        properties:
          $ref: '#/components/schemas/LinkedService'
          description: Properties of linked service.
        etag:
          type: string
          description: '"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.")'
          readOnly: true
      required:
      - properties
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource
    CloudError:
      type: object
      description: The object that defines the structure of an Azure Data Factory error response.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Error data
          x-ms-client-flatten: true
      required:
      - error
      x-ms-external: true
    ParameterType:
      type: string
      description: Parameter type.
      enum:
      - Object
      - String
      - Int
      - Float
      - Bool
      - Array
      - SecureString
      x-ms-enum:
        name: ParameterType
        modelAsString: true
        values:
        - name: Object
          value: Object
          description: Object
        - name: String
          value: String
          description: String
        - name: Int
          value: Int
          description: Int
        - name: Float
          value: Float
          description: Float
        - name: Bool
          value: Bool
          description: Bool
        - name: Array
          value: Array
          description: Array
        - name: SecureString
          value: SecureString
          description: SecureString
    IntegrationRuntimeReference:
      type: object
      description: Integration runtime reference type.
      properties:
        type:
          $ref: '#/components/schemas/IntegrationRuntimeReferenceType'
          description: Type of integration runtime.
        referenceName:
          type: string
          description: Reference integration runtime name.
        parameters:
          type: object
          description: Arguments for integration runtime.
          additionalProperties: {}
      required:
      - type
      - referenceName
    IntegrationRuntimeReferenceType:
      type: string
      description: Type of integration runtime.
      enum:
      - IntegrationRuntimeReference
      x-ms-enum:
        name: IntegrationRuntimeReferenceType
        modelAsString: true
        values:
        - name: IntegrationRuntimeReference
          value: IntegrationRuntimeReference
          description: IntegrationRuntimeReference
    CloudErrorBody:
      type: object
      description: The object that defines the structure of an Azure Data Factory error.
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Property name/path in request associated with error.
        details:
          type: array
          description: Array with additional error details.
          items:
            $ref: '#/components/schemas/CloudError'
          x-ms-identifiers: []
      required:
      - code
      - message
      x-ms-external: true
    ParameterSpecification:
      type: object
      description: Definition of a single parameter for an entity.
      properties:
        type:
          $ref: '#/components/schemas/ParameterType'
          description: Parameter type.
        defaultValue:
          description: Default value of parameter.
      required:
      - type
    LinkedService:
      type: object
      description: The nested object which contains the information and credential which can be used to connect with related store or compute resource.
      properties:
        type:
          type: string
          description: Type of linked service.
        version:
          type: string
          description: Version of the linked service.
        connectVia:
          $ref: '#/components/schemas/IntegrationRuntimeReference'
          description: The integration runtime reference.
        description:
          type: string
          description: Linked service description.
        parameters:
          type: object
          description: Parameters for linked service.
          additionalProperties:
            $ref: '#/components/schemas/ParameterSpecification'
        annotations:
          type: array
          description: List of tags that can be used for describing the linked service.
          items: {}
      discriminator:
        propertyName: type
      required:
      - type
      additionalProperties: {}
    LinkedServiceListResponse:
      type: object
      description: A list of linked service resources.
      properties:
        value:
          type: array
          description: The LinkedServiceResource items on this page
          items:
            $ref: '#/components/schemas/LinkedServiceResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
