openapi: 3.0.3
info:
  title: Azure Data Factory REST dataFlowDebugSession API
  description: Azure Data Factory is a cloud-based data integration service. The Microsoft.DataFactory resource-provider REST
    API manages factories, pipelines, datasets, linked services, data flows, triggers, integration runtimes, credentials,
    managed private endpoints and change data capture resources through Azure Resource Manager.
  version: '2018-06-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/datafactory/
  x-source: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/openapi.json
  x-source-format: Swagger 2.0 (converted verbatim to OpenAPI 3.0.3; original retained at openapi/_original/)
externalDocs:
  description: Azure Data Factory REST API reference
  url: https://learn.microsoft.com/en-us/rest/api/datafactory/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: dataFlowDebugSession
  description: dataFlowDebugSession operations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/addDataFlowToDebugSession
  : post:
      operationId: DataFlowDebugSession_AddDataFlow
      description: Add a data flow into debug session.
      tags:
      - dataFlowDebugSession
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFlowDebugPackage'
        description: Data flow debug session definition with debug content.
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddDataFlowToDebugSessionResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DataFlowDebugSession_AddDataFlow:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/DataFlowDebugSession_AddDataFlow.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/createDataFlowDebugSession
  : post:
      operationId: DataFlowDebugSession_Create
      description: Creates a data flow debug session.
      tags:
      - dataFlowDebugSession
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDataFlowDebugSessionRequest'
        description: Data flow debug session definition
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDataFlowDebugSessionResponse'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation
                status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DataFlowDebugSession_Create:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/DataFlowDebugSession_Create.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/CreateDataFlowDebugSessionResponse'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/deleteDataFlowDebugSession
  : post:
      operationId: DataFlowDebugSession_Delete
      description: Deletes a data flow debug session.
      tags:
      - dataFlowDebugSession
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDataFlowDebugSessionRequest'
        description: Data flow debug session definition for deletion
      responses:
        '200':
          description: The request has succeeded.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DataFlowDebugSession_Delete:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/DataFlowDebugSession_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/executeDataFlowDebugCommand
  : post:
      operationId: DataFlowDebugSession_ExecuteCommand
      description: Execute a data flow debug command.
      tags:
      - dataFlowDebugSession
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFlowDebugCommandRequest'
        description: Data flow debug command definition.
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFlowDebugCommandResponse'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation
                status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DataFlowDebugSession_ExecuteCommand:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/DataFlowDebugSession_ExecuteCommand.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/DataFlowDebugCommandResponse'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/queryDataFlowDebugSessions
  : post:
      operationId: DataFlowDebugSession_QueryByFactory
      description: Query all active data flow debug sessions.
      tags:
      - dataFlowDebugSession
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        required: true
        description: The factory name.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDataFlowDebugSessionsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DataFlowDebugSession_QueryByFactory:
          $ref: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/datafactory/resource-manager/Microsoft.DataFactory/DataFactory/stable/2018-06-01/examples/DataFlowDebugSession_QueryByFactory.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    AddDataFlowToDebugSessionResponse:
      type: object
      description: Response body structure for starting data flow debug session.
      properties:
        jobVersion:
          type: string
          description: The ID of data flow debug job version.
    AmazonMWSLinkedService:
      type: object
      description: Amazon Marketplace Web Service linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AmazonMWSLinkedServiceTypeProperties'
          description: Amazon Marketplace Web Service linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AmazonMWS
    AmazonMWSLinkedServiceTypeProperties:
      type: object
      description: Amazon Marketplace Web Service linked service properties.
      properties:
        endpoint:
          description: The endpoint of the Amazon MWS server, (i.e. mws.amazonservices.com)
        marketplaceID:
          description: The Amazon Marketplace ID you want to retrieve data from. To retrieve data from multiple Marketplace
            IDs, separate them with a comma (,). (i.e. A2EUQ1WTGCTBG2)
        sellerID:
          description: The Amazon seller ID.
        mwsAuthToken:
          $ref: '#/components/schemas/SecretBase'
          description: The Amazon MWS authentication token.
        accessKeyId:
          description: The access key id used to access data.
        secretKey:
          $ref: '#/components/schemas/SecretBase'
          description: The secret key used to access data.
        useEncryptedEndpoints:
          description: Specifies whether the data source endpoints are encrypted using HTTPS. The default value is true.
        useHostVerification:
          description: Specifies whether to require the host name in the server's certificate to match the host name of the
            server when connecting over SSL. The default value is true.
        usePeerVerification:
          description: Specifies whether to verify the identity of the server when connecting over SSL. The default value
            is true.
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
      required:
      - endpoint
      - marketplaceID
      - sellerID
      - accessKeyId
    AmazonMWSObjectDataset:
      type: object
      description: Amazon Marketplace Web Service dataset.
      properties:
        typeProperties:
          $ref: '#/components/schemas/GenericDatasetTypeProperties'
          description: Properties specific to this dataset type.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AmazonMWSObject
    AmazonRdsForLinkedServiceTypeProperties:
      type: object
      description: AmazonRdsForOracle database linked service properties.
      properties:
        connectionString:
          description: 'The connection string. Type: string, SecureString or AzureKeyVaultSecretReference. Only used for Version
            1.0.'
        server:
          description: 'The location of AmazonRdsForOracle database you want to connect to, the supported forms include connector
            descriptor, Easy Connect (Plus) Naming and Oracle Net Services Name (Only self-hosted IR). Type: string. Only
            used for Version 2.0.'
        authenticationType:
          $ref: '#/components/schemas/AmazonRdsForOracleAuthenticationType'
          description: Authentication type for connecting to the AmazonRdsForOracle database. Only used for Version 2.0.
        username:
          description: 'The AmazonRdsForOracle database username. Type: string. Only used for Version 2.0.'
        password:
          $ref: '#/components/schemas/SecretBase'
          description: The Azure key vault secret reference of password in connection string.
        encryptionClient:
          description: 'Specifies the encryption client behavior. Supported values are accepted, rejected, requested or required,
            default value is required. Type: string. Only used for Version 2.0.'
        encryptionTypesClient:
          description: 'Specifies the encryption algorithms that client can use. Supported values are AES128, AES192, AES256,
            3DES112, 3DES168, default value is (AES256). Type: string. Only used for Version 2.0.'
        cryptoChecksumClient:
          description: 'Specifies the desired data integrity behavior when this client connects to a server. Supported values
            are accepted, rejected, requested or required, default value is required. Type: string. Only used for Version
            2.0.'
        cryptoChecksumTypesClient:
          description: 'Specifies the crypto-checksum algorithms that client can use. Supported values are SHA1, SHA256, SHA384,
            SHA512, default value is (SHA512). Type: string. Only used for Version 2.0.'
        initialLobFetchSize:
          description: 'Specifies the amount that the source initially fetches for LOB columns, default value is 0. Type:
            integer. Only used for Version 2.0.'
        fetchSize:
          description: 'Specifies the number of bytes that the driver allocates to fetch the data in one database round-trip,
            default value is 10485760. Type: integer. Only used for Version 2.0.'
        statementCacheSize:
          description: 'Specifies the number of cursors or statements to be cached for each database connection, default value
            is 0. Type: integer. Only used for Version 2.0.'
        initializationString:
          description: 'Specifies a command that is issued immediately after connecting to the database to manage session
            settings. Type: string. Only used for Version 2.0.'
        enableBulkLoad:
          description: 'Specifies whether to use bulk copy or batch insert when loading data into the database, default value
            is true. Type: boolean. Only used for Version 2.0.'
        supportV1DataTypes:
          description: 'Specifies whether to use the Version 1.0 data type mappings. Do not set this to true unless you want
            to keep backward compatibility with Version 1.0''s data type mappings, default value is false. Type: boolean.
            Only used for Version 2.0.'
        fetchTswtzAsTimestamp:
          description: 'Specifies whether the driver returns column value with the TIMESTAMP WITH TIME ZONE data type as DateTime
            or string. This setting is ignored if supportV1DataTypes is not true, default value is true. Type: boolean. Only
            used for Version 2.0.'
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
    AmazonRdsForOracleAuthenticationType:
      type: string
      description: Authentication type for connecting to the AmazonRdsForOracle database. Only used for Version 2.0.
      enum:
      - Basic
      x-ms-enum:
        name: AmazonRdsForOracleAuthenticationType
        modelAsString: true
        values:
        - name: Basic
          value: Basic
          description: Basic
    AmazonRdsForOracleLinkedService:
      type: object
      description: AmazonRdsForOracle database. This linked service has supported version property. The Version 1.0 is scheduled
        for deprecation while your pipeline will continue to run after EOL but without any bug fix or new features.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AmazonRdsForLinkedServiceTypeProperties'
          description: AmazonRdsForOracle database linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AmazonRdsForOracle
    AmazonRdsForOracleTableDataset:
      type: object
      description: The AmazonRdsForOracle database dataset.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AmazonRdsForOracleTableDatasetTypeProperties'
          description: AmazonRdsForOracle dataset properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AmazonRdsForOracleTable
    AmazonRdsForOracleTableDatasetTypeProperties:
      type: object
      description: AmazonRdsForOracle dataset properties.
      properties:
        schema:
          description: 'The schema name of the AmazonRdsForOracle database. Type: string (or Expression with resultType string).'
        table:
          description: 'The table name of the AmazonRdsForOracle database. Type: string (or Expression with resultType string).'
    AmazonRdsForSqlAuthenticationType:
      type: string
      description: 'The type used for authentication. Type: string.'
      enum:
      - SQL
      - Windows
      x-ms-enum:
        name: AmazonRdsForSqlAuthenticationType
        modelAsString: true
        values:
        - name: SQL
          value: SQL
          description: SQL
        - name: Windows
          value: Windows
          description: Windows
    AmazonRdsForSqlServerLinkedService:
      type: object
      description: Amazon RDS for SQL Server linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AmazonRdsForSqlServerLinkedServiceTypeProperties'
          description: Amazon RDS for SQL Server linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AmazonRdsForSqlServer
    AmazonRdsForSqlServerLinkedServiceTypeProperties:
      type: object
      description: Amazon Rds for SQL Server linked service properties.
      properties:
        connectionString:
          description: 'The connection string. Type: string, SecureString or AzureKeyVaultSecretReference.'
        authenticationType:
          $ref: '#/components/schemas/AmazonRdsForSqlAuthenticationType'
          description: 'The type used for authentication. Type: string.'
        userName:
          description: 'The on-premises Windows authentication user name. Type: string (or Expression with resultType string).'
        password:
          $ref: '#/components/schemas/SecretBase'
          description: The on-premises Windows authentication password.
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
        alwaysEncryptedSettings:
          $ref: '#/components/schemas/SqlAlwaysEncryptedProperties'
          description: Sql always encrypted properties.
      allOf:
      - $ref: '#/components/schemas/SqlServerBaseLinkedServiceTypeProperties'
    AmazonRdsForSqlServerTableDataset:
      type: object
      description: The Amazon RDS for SQL Server dataset.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AmazonRdsForSqlServerTableDatasetTypeProperties'
          description: The Amazon RDS for SQL Server dataset properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AmazonRdsForSqlServerTable
    AmazonRdsForSqlServerTableDatasetTypeProperties:
      type: object
      description: The Amazon RDS for SQL Server dataset properties.
      properties:
        schema:
          description: 'The schema name of the SQL Server dataset. Type: string (or Expression with resultType string).'
        table:
          description: 'The table name of the SQL Server dataset. Type: string (or Expression with resultType string).'
    AmazonRedshiftLinkedService:
      type: object
      description: Linked service for Amazon Redshift.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AmazonRedshiftLinkedServiceTypeProperties'
          description: Amazon Redshift linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AmazonRedshift
    AmazonRedshiftLinkedServiceTypeProperties:
      type: object
      description: Amazon Redshift linked service properties.
      properties:
        server:
          description: 'The name of the Amazon Redshift server. Type: string (or Expression with resultType string).'
        username:
          description: 'The username of the Amazon Redshift source. Type: string (or Expression with resultType string).'
        password:
          $ref: '#/components/schemas/SecretBase'
          description: The password of the Amazon Redshift source.
        database:
          description: 'The database name of the Amazon Redshift source. Type: string (or Expression with resultType string).'
        port:
          description: 'The TCP port number that the Amazon Redshift server uses to listen for client connections. The default
            value is 5439. Type: integer (or Expression with resultType integer).'
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
      required:
      - server
      - database
    AmazonRedshiftTableDataset:
      type: object
      description: The Amazon Redshift table dataset.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AmazonRedshiftTableDatasetTypeProperties'
          description: Amazon Redshift table dataset properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AmazonRedshiftTable
    AmazonRedshiftTableDatasetTypeProperties:
      type: object
      description: Amazon Redshift table dataset properties.
      properties:
        tableName:
          description: This property will be retired. Please consider using schema + table properties instead.
        table:
          description: 'The Amazon Redshift table name. Type: string (or Expression with resultType string).'
        schema:
          description: 'The Amazon Redshift schema name. Type: string (or Expression with resultType string).'
    AmazonS3CompatibleLinkedService:
      type: object
      description: Linked service for Amazon S3 Compatible.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AmazonS3CompatibleLinkedServiceTypeProperties'
          description: Amazon S3 Compatible linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AmazonS3Compatible
    AmazonS3CompatibleLinkedServiceTypeProperties:
      type: object
      description: Amazon S3 Compatible linked service properties.
      properties:
        accessKeyId:
          description: 'The access key identifier of the Amazon S3 Compatible Identity and Access Management (IAM) user. Type:
            string (or Expression with resultType string).'
        secretAccessKey:
          $ref: '#/components/schemas/SecretBase'
          description: The secret access key of the Amazon S3 Compatible Identity and Access Management (IAM) user.
        serviceUrl:
          description: 'This value specifies the endpoint to access with the Amazon S3 Compatible Connector. This is an optional
            property; change it only if you want to try a different service endpoint or want to switch between https and http.
            Type: string (or Expression with resultType string).'
        forcePathStyle:
          description: 'If true, use S3 path-style access instead of virtual hosted-style access. Default value is false.
            Type: boolean (or Expression with resultType boolean).'
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
    AmazonS3CompatibleLocation:
      type: object
      description: The location of Amazon S3 Compatible dataset.
      properties:
        bucketName:
          description: 'Specify the bucketName of Amazon S3 Compatible. Type: string (or Expression with resultType string)'
        version:
          description: 'Specify the version of Amazon S3 Compatible. Type: string (or Expression with resultType string).'
      allOf:
      - $ref: '#/components/schemas/DatasetLocation'
      x-ms-discriminator-value: AmazonS3CompatibleLocation
    AmazonS3Dataset:
      type: object
      description: A single Amazon Simple Storage Service (S3) object or a set of S3 objects.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AmazonS3DatasetTypeProperties'
          description: Amazon S3 dataset properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AmazonS3Object
    AmazonS3DatasetTypeProperties:
      type: object
      description: Amazon S3 dataset properties.
      properties:
        bucketName:
          description: 'The name of the Amazon S3 bucket. Type: string (or Expression with resultType string).'
        key:
          description: 'The key of the Amazon S3 object. Type: string (or Expression with resultType string).'
        prefix:
          description: 'The prefix filter for the S3 object name. Type: string (or Expression with resultType string).'
        version:
          description: 'The version for the S3 object. Type: string (or Expression with resultType string).'
        modifiedDatetimeStart:
          description: 'The start of S3 object''s modified datetime. Type: string (or Expression with resultType string).'
        modifiedDatetimeEnd:
          description: 'The end of S3 object''s modified datetime. Type: string (or Expression with resultType string).'
        format:
          $ref: '#/components/schemas/DatasetStorageFormat'
          description: The format of files.
        compression:
          $ref: '#/components/schemas/DatasetCompression'
          description: The data compression method used for the Amazon S3 object.
      required:
      - bucketName
    AmazonS3LinkedService:
      type: object
      description: Linked service for Amazon S3.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AmazonS3LinkedServiceTypeProperties'
          description: Amazon S3 linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AmazonS3
    AmazonS3LinkedServiceTypeProperties:
      type: object
      description: Amazon S3 linked service properties.
      properties:
        authenticationType:
          description: 'The authentication type of S3. Allowed value: AccessKey (default) or TemporarySecurityCredentials.
            Type: string (or Expression with resultType string).'
        accessKeyId:
          description: 'The access key identifier of the Amazon S3 Identity and Access Management (IAM) user. Type: string
            (or Expression with resultType string).'
        secretAccessKey:
          $ref: '#/components/schemas/SecretBase'
          description: The secret access key of the Amazon S3 Identity and Access Management (IAM) user.
        serviceUrl:
          description: 'This value specifies the endpoint to access with the S3 Connector. This is an optional property; change
            it only if you want to try a different service endpoint or want to switch between https and http. Type: string
            (or Expression with resultType string).'
        sessionToken:
          $ref: '#/components/schemas/SecretBase'
          description: The session token for the S3 temporary security credential.
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
    AmazonS3Location:
      type: object
      description: The location of amazon S3 dataset.
      properties:
        bucketName:
          description: 'Specify the bucketName of amazon S3. Type: string (or Expression with resultType string)'
        version:
          description: 'Specify the version of amazon S3. Type: string (or Expression with resultType string).'
      allOf:
      - $ref: '#/components/schemas/DatasetLocation'
      x-ms-discriminator-value: AmazonS3Location
    AppFiguresLinkedService:
      type: object
      description: Linked service for AppFigures.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AppFiguresLinkedServiceTypeProperties'
          description: AppFigures linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AppFigures
    AppFiguresLinkedServiceTypeProperties:
      type: object
      description: AppFigures linked service type properties.
      properties:
        userName:
          description: 'The username of the Appfigures source. Type: string (or Expression with resultType string).'
        password:
          $ref: '#/components/schemas/SecretBase'
          description: The password of the AppFigures source.
        clientKey:
          $ref: '#/components/schemas/SecretBase'
          description: The client key for the AppFigures source.
      required:
      - userName
      - password
      - clientKey
    AsanaLinkedService:
      type: object
      description: Linked service for Asana.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AsanaLinkedServiceTypeProperties'
          description: Asana linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: Asana
    AsanaLinkedServiceTypeProperties:
      type: object
      description: Asana linked service type properties.
      properties:
        apiToken:
          $ref: '#/components/schemas/SecretBase'
          description: The api token for the Asana source.
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
      required:
      - apiToken
    AvroDataset:
      type: object
      description: Avro dataset.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AvroDatasetTypeProperties'
          description: Avro dataset properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: Avro
    AvroDatasetTypeProperties:
      type: object
      description: Avro dataset properties.
      properties:
        location:
          $ref: '#/components/schemas/DatasetLocation'
          description: The location of the avro storage.
        avroCompressionCodec:
          description: 'The data avroCompressionCodec. Type: string (or Expression with resultType string).'
        avroCompressionLevel:
          type: integer
          format: int32
          minimum: 1
          maximum: 9
      required:
      - location
    AvroFormat:
      type: object
      description: The data stored in Avro format.
      allOf:
      - $ref: '#/components/schemas/DatasetStorageFormat'
      x-ms-discriminator-value: AvroFormat
    AzPowerShellSetup:
      type: object
      description: The express custom setup of installing Azure PowerShell.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzPowerShellSetupTypeProperties'
          description: Install Azure PowerShell type properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/CustomSetupBase'
      x-ms-discriminator-value: AzPowerShellSetup
    AzPowerShellSetupTypeProperties:
      type: object
      description: Installation of Azure PowerShell type properties.
      properties:
        version:
          type: string
          description: The required version of Azure PowerShell to install.
      required:
      - version
    AzureBatchLinkedService:
      type: object
      description: Azure Batch linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureBatchLinkedServiceTypeProperties'
          description: Azure Batch linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureBatch
    AzureBatchLinkedServiceTypeProperties:
      type: object
      description: Azure Batch linked service properties.
      properties:
        accountName:
          description: 'The Azure Batch account name. Type: string (or Expression with resultType string).'
        accessKey:
          $ref: '#/components/schemas/SecretBase'
          description: The Azure Batch account access key.
        batchUri:
          description: 'The Azure Batch URI. Type: string (or Expression with resultType string).'
        poolName:
          description: 'The Azure Batch pool name. Type: string (or Expression with resultType string).'
        linkedServiceName:
          $ref: '#/components/schemas/LinkedServiceReference'
          description: The Azure Storage linked service reference.
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
      required:
      - accountName
      - batchUri
      - poolName
      - linkedServiceName
    AzureBlobDataset:
      type: object
      description: The Azure Blob storage.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureBlobDatasetTypeProperties'
          description: Azure Blob dataset properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AzureBlob
    AzureBlobDatasetTypeProperties:
      type: object
      description: Azure Blob dataset properties.
      properties:
        folderPath:
          description: 'The path of the Azure Blob storage. Type: string (or Expression with resultType string).'
        tableRootLocation:
          description: 'The root of blob path. Type: string (or Expression with resultType string).'
        fileName:
          description: 'The name of the Azure Blob. Type: string (or Expression with resultType string).'
        modifiedDatetimeStart:
          description: 'The start of Azure Blob''s modified datetime. Type: string (or Expression with resultType string).'
        modifiedDatetimeEnd:
          description: 'The end of Azure Blob''s modified datetime. Type: string (or Expression with resultType string).'
        format:
          $ref: '#/components/schemas/DatasetStorageFormat'
          description: The format of the Azure Blob storage.
        compression:
          $ref: '#/components/schemas/DatasetCompression'
          description: The data compression method used for the blob storage.
    AzureBlobFSDataset:
      type: object
      description: The Azure Data Lake Storage Gen2 storage.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureBlobFSDatasetTypeProperties'
          description: Azure Data Lake Storage Gen2 dataset properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AzureBlobFSFile
    AzureBlobFSDatasetTypeProperties:
      type: object
      description: Azure Data Lake Storage Gen2 dataset properties.
      properties:
        folderPath:
          description: 'The path of the Azure Data Lake Storage Gen2 storage. Type: string (or Expression with resultType
            string).'
        fileName:
          description: 'The name of the Azure Data Lake Storage Gen2. Type: string (or Expression with resultType string).'
        format:
          $ref: '#/components/schemas/DatasetStorageFormat'
          description: The format of the Azure Data Lake Storage Gen2 storage.
        compression:
          $ref: '#/components/schemas/DatasetCompression'
          description: The data compression method used for the blob storage.
    AzureBlobFSLinkedService:
      type: object
      description: Azure Data Lake Storage Gen2 linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureBlobFSLinkedServiceTypeProperties'
          description: Azure Data Lake Storage Gen2 linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureBlobFS
    AzureBlobFSLinkedServiceTypeProperties:
      type: object
      description: Azure Data Lake Storage Gen2 linked service properties.
      properties:
        url:
          description: 'Endpoint for the Azure Data Lake Storage Gen2 service. Type: string (or Expression with resultType
            string).'
        accountKey:
          description: 'Account key for the Azure Data Lake Storage Gen2 service. Type: string (or Expression with resultType
            string).'
        servicePrincipalId:
          description: 'The ID of the application used to authenticate against the Azure Data Lake Storage Gen2 account. Type:
            string (or Expression with resultType string).'
        servicePrincipalKey:
          $ref: '#/components/schemas/SecretBase'
          description: The Key of the application used to authenticate against the Azure Data Lake Storage Gen2 account.
        tenant:
          description: 'The name or ID of the tenant to which the service principal belongs. Type: string (or Expression with
            resultType string).'
        azureCloudType:
          description: 'Indicates the azure cloud type of the service principle auth. Allowed values are AzurePublic, AzureChina,
            AzureUsGovernment, AzureGermany. Default value is the data factory regions’ cloud type. Type: string (or Expression
            with resultType string).'
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
        servicePrincipalCredentialType:
          description: 'The service principal credential type to use in Server-To-Server authentication. ''ServicePrincipalKey''
            for key/secret, ''ServicePrincipalCert'' for certificate. Type: string (or Expression with resultType string).'
        servicePrincipalCredential:
          $ref: '#/components/schemas/SecretBase'
          description: The credential of the service principal object in Azure Active Directory. If servicePrincipalCredentialType
            is 'ServicePrincipalKey', servicePrincipalCredential can be SecureString or AzureKeyVaultSecretReference. If servicePrincipalCredentialType
            is 'ServicePrincipalCert', servicePrincipalCredential can only be AzureKeyVaultSecretReference.
        sasUri:
          description: 'SAS URI of the Azure Data Lake Storage Gen2 service. Type: string, SecureString or AzureKeyVaultSecretReference.'
        sasToken:
          $ref: '#/components/schemas/SecretBase'
          description: The Azure key vault secret reference of sasToken in sas uri.
    AzureBlobFSLocation:
      type: object
      description: The location of azure blobFS dataset.
      properties:
        fileSystem:
          description: 'Specify the fileSystem of azure blobFS. Type: string (or Expression with resultType string).'
      allOf:
      - $ref: '#/components/schemas/DatasetLocation'
      x-ms-discriminator-value: AzureBlobFSLocation
    AzureBlobStorageLinkedService:
      type: object
      description: The azure blob storage linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureBlobStorageLinkedServiceTypeProperties'
          description: Azure Blob Storage linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureBlobStorage
    AzureBlobStorageLinkedServiceTypeProperties:
      type: object
      description: Azure Blob Storage linked service properties.
      properties:
        connectionString:
          description: 'The connection string. It is mutually exclusive with sasUri, serviceEndpoint property. Type: string,
            SecureString or AzureKeyVaultSecretReference.'
        accountKey:
          $ref: '#/components/schemas/AzureKeyVaultSecretReference'
          description: The Azure key vault secret reference of accountKey in connection string.
        sasUri:
          description: 'SAS URI of the Azure Blob Storage resource. It is mutually exclusive with connectionString, serviceEndpoint
            property. Type: string, SecureString or AzureKeyVaultSecretReference.'
        sasToken:
          $ref: '#/components/schemas/AzureKeyVaultSecretReference'
          description: The Azure key vault secret reference of sasToken in sas uri.
        serviceEndpoint:
          description: Blob service endpoint of the Azure Blob Storage resource. It is mutually exclusive with connectionString,
            sasUri property.
        servicePrincipalId:
          description: 'The ID of the service principal used to authenticate against Azure SQL Data Warehouse. Type: string
            (or Expression with resultType string).'
        servicePrincipalKey:
          $ref: '#/components/schemas/SecretBase'
          description: The key of the service principal used to authenticate against Azure SQL Data Warehouse.
        tenant:
          description: 'The name or ID of the tenant to which the service principal belongs. Type: string (or Expression with
            resultType string).'
        azureCloudType:
          description: 'Indicates the azure cloud type of the service principle auth. Allowed values are AzurePublic, AzureChina,
            AzureUsGovernment, AzureGermany. Default value is the data factory regions’ cloud type. Type: string (or Expression
            with resultType string).'
        accountKind:
          description: 'Specify the kind of your storage account. Allowed values are: Storage (general purpose v1), StorageV2
            (general purpose v2), BlobStorage, or BlockBlobStorage. Type: string (or Expression with resultType string).'
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
        authenticationType:
          $ref: '#/components/schemas/AzureStorageAuthenticationType'
          description: 'The type used for authentication. Type: string.'
        containerUri:
          description: 'Container uri of the Azure Blob Storage resource only support for anonymous access. Type: string (or
            Expression with resultType string).'
    AzureBlobStorageLocation:
      type: object
      description: The location of azure blob dataset.
      properties:
        container:
          description: 'Specify the container of azure blob. Type: string (or Expression with resultType string).'
      allOf:
      - $ref: '#/components/schemas/DatasetLocation'
      x-ms-discriminator-value: AzureBlobStorageLocation
    AzureDataExplorerDatasetTypeProperties:
      type: object
      description: Azure Data Explorer (Kusto) dataset properties.
      properties:
        table:
          description: 'The table name of the Azure Data Explorer database. Type: string (or Expression with resultType string).'
    AzureDataExplorerLinkedService:
      type: object
      description: Azure Data Explorer (Kusto) linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureDataExplorerLinkedServiceTypeProperties'
          description: Azure Data Explorer (Kusto) linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureDataExplorer
    AzureDataExplorerLinkedServiceTypeProperties:
      type: object
      description: Azure Data Explorer (Kusto) linked service properties.
      properties:
        endpoint:
          description: 'The endpoint of Azure Data Explorer (the engine''s endpoint). URL will be in the format https://<clusterName>.<regionName>.kusto.windows.net.
            Type: string (or Expression with resultType string)'
        servicePrincipalId:
          description: 'The ID of the service principal used to authenticate against Azure Data Explorer. Type: string (or
            Expression with resultType string).'
        servicePrincipalKey:
          $ref: '#/components/schemas/SecretBase'
          description: The key of the service principal used to authenticate against Kusto.
        database:
          description: 'Database name for connection. Type: string (or Expression with resultType string).'
        tenant:
          description: 'The name or ID of the tenant to which the service principal belongs. Type: string (or Expression with
            resultType string).'
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
      required:
      - endpoint
      - database
    AzureDataExplorerTableDataset:
      type: object
      description: The Azure Data Explorer (Kusto) dataset.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureDataExplorerDatasetTypeProperties'
          description: Azure Data Explorer (Kusto) dataset properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AzureDataExplorerTable
    AzureDataLakeAnalyticsLinkedService:
      type: object
      description: Azure Data Lake Analytics linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureDataLakeAnalyticsLinkedServiceTypeProperties'
          description: Azure Data Lake Analytics linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureDataLakeAnalytics
    AzureDataLakeAnalyticsLinkedServiceTypeProperties:
      type: object
      description: Azure Data Lake Analytics linked service properties.
      properties:
        accountName:
          description: 'The Azure Data Lake Analytics account name. Type: string (or Expression with resultType string).'
        servicePrincipalId:
          description: 'The ID of the application used to authenticate against the Azure Data Lake Analytics account. Type:
            string (or Expression with resultType string).'
        servicePrincipalKey:
          $ref: '#/components/schemas/SecretBase'
          description: The Key of the application used to authenticate against the Azure Data Lake Analytics account.
        tenant:
          description: 'The name or ID of the tenant to which the service principal belongs. Type: string (or Expression with
            resultType string).'
        subscriptionId:
          description: 'Data Lake Analytics account subscription ID (if different from Data Factory account). Type: string
            (or Expression with resultType string).'
        resourceGroupName:
          description: 'Data Lake Analytics account resource group name (if different from Data Factory account). Type: string
            (or Expression with resultType string).'
        dataLakeAnalyticsUri:
          description: 'Azure Data Lake Analytics URI Type: string (or Expression with resultType string).'
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
      required:
      - accountName
      - tenant
    AzureDataLakeStoreDataset:
      type: object
      description: Azure Data Lake Store dataset.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureDataLakeStoreDatasetTypeProperties'
          description: Azure Data Lake Store dataset properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AzureDataLakeStoreFile
    AzureDataLakeStoreDatasetTypeProperties:
      type: object
      description: Azure Data Lake Store dataset properties.
      properties:
        folderPath:
          description: 'Path to the folder in the Azure Data Lake Store. Type: string (or Expression with resultType string).'
        fileName:
          description: 'The name of the file in the Azure Data Lake Store. Type: string (or Expression with resultType string).'
        format:
          $ref: '#/components/schemas/DatasetStorageFormat'
          description: The format of the Data Lake Store.
        compression:
          $ref: '#/components/schemas/DatasetCompression'
          description: The data compression method used for the item(s) in the Azure Data Lake Store.
    AzureDataLakeStoreLinkedService:
      type: object
      description: Azure Data Lake Store linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureDataLakeStoreLinkedServiceTypeProperties'
          description: Azure Data Lake Store linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureDataLakeStore
    AzureDataLakeStoreLinkedServiceTypeProperties:
      type: object
      description: Azure Data Lake Store linked service properties.
      properties:
        dataLakeStoreUri:
          description: 'Data Lake Store service URI. Type: string (or Expression with resultType string).'
        servicePrincipalId:
          description: 'The ID of the application used to authenticate against the Azure Data Lake Store account. Type: string
            (or Expression with resultType string).'
        servicePrincipalKey:
          $ref: '#/components/schemas/SecretBase'
          description: The Key of the application used to authenticate against the Azure Data Lake Store account.
        tenant:
          description: 'The name or ID of the tenant to which the service principal belongs. Type: string (or Expression with
            resultType string).'
        azureCloudType:
          description: 'Indicates the azure cloud type of the service principle auth. Allowed values are AzurePublic, AzureChina,
            AzureUsGovernment, AzureGermany. Default value is the data factory regions’ cloud type. Type: string (or Expression
            with resultType string).'
        accountName:
          description: 'Data Lake Store account name. Type: string (or Expression with resultType string).'
        subscriptionId:
          description: 'Data Lake Store account subscription ID (if different from Data Factory account). Type: string (or
            Expression with resultType string).'
        resourceGroupName:
          description: 'Data Lake Store account resource group name (if different from Data Factory account). Type: string
            (or Expression with resultType string).'
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
      required:
      - dataLakeStoreUri
    AzureDataLakeStoreLocation:
      type: object
      description: The location of azure data lake store dataset.
      allOf:
      - $ref: '#/components/schemas/DatasetLocation'
      x-ms-discriminator-value: AzureDataLakeStoreLocation
    AzureDatabricksDeltaLakeDataset:
      type: object
      description: Azure Databricks Delta Lake dataset.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureDatabricksDeltaLakeDatasetTypeProperties'
          description: Properties specific to this dataset type.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AzureDatabricksDeltaLakeDataset
    AzureDatabricksDeltaLakeDatasetTypeProperties:
      type: object
      description: Azure Databricks Delta Lake Dataset Properties
      properties:
        table:
          description: 'The name of delta table. Type: string (or Expression with resultType string).'
        database:
          description: 'The database name of delta table. Type: string (or Expression with resultType string).'
    AzureDatabricksDeltaLakeLinkedService:
      type: object
      description: Azure Databricks Delta Lake linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureDatabricksDetltaLakeLinkedServiceTypeProperties'
          description: Azure Databricks Delta Lake linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureDatabricksDeltaLake
    AzureDatabricksDetltaLakeLinkedServiceTypeProperties:
      type: object
      description: Azure Databricks Delta Lake linked service properties.
      properties:
        domain:
          description: '<REGION>.azuredatabricks.net, domain name of your Databricks deployment. Type: string (or Expression
            with resultType string).'
        accessToken:
          $ref: '#/components/schemas/SecretBase'
          description: 'Access token for databricks REST API. Refer to https://docs.azuredatabricks.net/api/latest/authentication.html.
            Type: string, SecureString or AzureKeyVaultSecretReference.'
        clusterId:
          description: 'The id of an existing interactive cluster that will be used for all runs of this job. Type: string
            (or Expression with resultType string).'
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
        workspaceResourceId:
          description: 'Workspace resource id for databricks REST API. Type: string (or Expression with resultType string).'
      required:
      - domain
    AzureDatabricksLinkedService:
      type: object
      description: Azure Databricks linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureDatabricksLinkedServiceTypeProperties'
          description: Azure Databricks linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureDatabricks
    AzureDatabricksLinkedServiceTypeProperties:
      type: object
      description: Azure Databricks linked service properties.
      properties:
        domain:
          description: '<REGION>.azuredatabricks.net, domain name of your Databricks deployment. Type: string (or Expression
            with resultType string).'
        accessToken:
          $ref: '#/components/schemas/SecretBase'
          description: 'Access token for databricks REST API. Refer to https://docs.azuredatabricks.net/api/latest/authentication.html.
            Type: string (or Expression with resultType string).'
        authentication:
          description: 'Required to specify MSI, if using Workspace resource id for databricks REST API. Type: string (or
            Expression with resultType string).'
        workspaceResourceId:
          description: 'Workspace resource id for databricks REST API. Type: string (or Expression with resultType string).'
        existingClusterId:
          description: 'The id of an existing interactive cluster that will be used for all runs of this activity. Type: string
            (or Expression with resultType string).'
        instancePoolId:
          description: 'The id of an existing instance pool that will be used for all runs of this activity. Type: string
            (or Expression with resultType string).'
        newClusterVersion:
          description: 'If not using an existing interactive cluster, this specifies the Spark version of a new job cluster
            or instance pool nodes created for each run of this activity. Required if instancePoolId is specified. Type: string
            (or Expression with resultType string).'
        newClusterNumOfWorker:
          description: 'If not using an existing interactive cluster, this specifies the number of worker nodes to use for
            the new job cluster or instance pool. For new job clusters, this a string-formatted Int32, like ''1'' means numOfWorker
            is 1 or ''1:10'' means auto-scale from 1 (min) to 10 (max). For instance pools, this is a string-formatted Int32,
            and can only specify a fixed number of worker nodes, such as ''2''. Required if newClusterVersion is specified.
            Type: string (or Expression with resultType string).'
        newClusterNodeType:
          description: 'The node type of the new job cluster. This property is required if newClusterVersion is specified
            and instancePoolId is not specified. If instancePoolId is specified, this property is ignored. Type: string (or
            Expression with resultType string).'
        newClusterSparkConf:
          type: object
          description: A set of optional, user-specified Spark configuration key-value pairs.
          additionalProperties: {}
        newClusterSparkEnvVars:
          type: object
          description: A set of optional, user-specified Spark environment variables key-value pairs.
          additionalProperties: {}
        newClusterCustomTags:
          type: object
          description: Additional tags for cluster resources. This property is ignored in instance pool configurations.
          additionalProperties: {}
        newClusterLogDestination:
          description: 'Specify a location to deliver Spark driver, worker, and event logs. Type: string (or Expression with
            resultType string).'
        newClusterDriverNodeType:
          description: 'The driver node type for the new job cluster. This property is ignored in instance pool configurations.
            Type: string (or Expression with resultType string).'
        newClusterInitScripts:
          description: 'User-defined initialization scripts for the new cluster. Type: array of strings (or Expression with
            resultType array of strings).'
        newClusterEnableElasticDisk:
          description: 'Enable the elastic disk on the new cluster. This property is now ignored, and takes the default elastic
            disk behavior in Databricks (elastic disks are always enabled). Type: boolean (or Expression with resultType boolean).'
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
        policyId:
          description: 'The policy id for limiting the ability to configure clusters based on a user defined set of rules.
            Type: string (or Expression with resultType string).'
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
        dataSecurityMode:
          description: 'The data security mode for the Databricks Cluster. Type: string (or Expression with resultType string).'
      required:
      - domain
    AzureFileStorageLinkedService:
      type: object
      description: Azure File Storage linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureFileStorageLinkedServiceTypeProperties'
          description: Azure File Storage linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureFileStorage
    AzureFileStorageLinkedServiceTypeProperties:
      type: object
      description: Azure File Storage linked service properties.
      properties:
        host:
          description: 'Host name of the server. Type: string (or Expression with resultType string).'
        userId:
          description: 'User ID to logon the server. Type: string (or Expression with resultType string).'
        password:
          $ref: '#/components/schemas/SecretBase'
          description: Password to logon the server.
        connectionString:
          description: 'The connection string. It is mutually exclusive with sasUri property. Type: string, SecureString or
            AzureKeyVaultSecretReference.'
        accountKey:
          $ref: '#/components/schemas/AzureKeyVaultSecretReference'
          description: The Azure key vault secret reference of accountKey in connection string.
        sasUri:
          description: 'SAS URI of the Azure File resource. It is mutually exclusive with connectionString property. Type:
            string, SecureString or AzureKeyVaultSecretReference.'
        sasToken:
          $ref: '#/components/schemas/AzureKeyVaultSecretReference'
          description: The Azure key vault secret reference of sasToken in sas uri.
        fileShare:
          description: 'The azure file share name. It is required when auth with accountKey/sasToken. Type: string (or Expression
            with resultType string).'
        snapshot:
          description: 'The azure file share snapshot version. Type: string (or Expression with resultType string).'
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
        serviceEndpoint:
          description: File service endpoint of the Azure File Storage resource. It is mutually exclusive with connectionString,
            sasUri property.
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
    AzureFileStorageLocation:
      type: object
      description: The location of file server dataset.
      allOf:
      - $ref: '#/components/schemas/DatasetLocation'
      x-ms-discriminator-value: AzureFileStorageLocation
    AzureFunctionLinkedService:
      type: object
      description: Azure Function linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureFunctionLinkedServiceTypeProperties'
          description: Azure Function linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureFunction
    AzureFunctionLinkedServiceTypeProperties:
      type: object
      description: Azure Function linked service properties.
      properties:
        functionAppUrl:
          description: 'The endpoint of the Azure Function App. URL will be in the format https://<accountName>.azurewebsites.net.
            Type: string (or Expression with resultType string).'
        functionKey:
          $ref: '#/components/schemas/SecretBase'
          description: Function or Host key for Azure Function App.
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
        resourceId:
          description: 'Allowed token audiences for azure function. Type: string (or Expression with resultType string).'
        authentication:
          description: 'Type of authentication (Required to specify MSI) used to connect to AzureFunction. Type: string (or
            Expression with resultType string).'
      required:
      - functionAppUrl
    AzureKeyVaultLinkedService:
      type: object
      description: Azure Key Vault linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureKeyVaultLinkedServiceTypeProperties'
          description: Azure Key Vault linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureKeyVault
    AzureKeyVaultLinkedServiceTypeProperties:
      type: object
      description: Azure Key Vault linked service properties.
      properties:
        baseUrl:
          description: 'The base URL of the Azure Key Vault. e.g. https://myakv.vault.azure.net Type: string (or Expression
            with resultType string).'
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
      required:
      - baseUrl
    AzureKeyVaultSecretReference:
      type: object
      description: Azure Key Vault secret reference.
      properties:
        store:
          $ref: '#/components/schemas/LinkedServiceReference'
          description: The Azure Key Vault linked service reference.
        secretName:
          description: 'The name of the secret in Azure Key Vault. Type: string (or Expression with resultType string).'
        secretVersion:
          description: 'The version of the secret in Azure Key Vault. The default value is the latest version of the secret.
            Type: string (or Expression with resultType string).'
      required:
      - store
      - secretName
      allOf:
      - $ref: '#/components/schemas/SecretBase'
      x-ms-discriminator-value: AzureKeyVaultSecret
    AzureMLLinkedService:
      type: object
      description: Azure ML Studio Web Service linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureMLLinkedServiceTypeProperties'
          description: Azure ML Studio Web Service linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureML
    AzureMLLinkedServiceTypeProperties:
      type: object
      description: Azure ML Studio Web Service linked service properties.
      properties:
        mlEndpoint:
          description: 'The Batch Execution REST URL for an Azure ML Studio Web Service endpoint. Type: string (or Expression
            with resultType string).'
        apiKey:
          $ref: '#/components/schemas/SecretBase'
          description: The API key for accessing the Azure ML model endpoint.
        updateResourceEndpoint:
          description: 'The Update Resource REST URL for an Azure ML Studio Web Service endpoint. Type: string (or Expression
            with resultType string).'
        servicePrincipalId:
          description: 'The ID of the service principal used to authenticate against the ARM-based updateResourceEndpoint
            of an Azure ML Studio web service. Type: string (or Expression with resultType string).'
        servicePrincipalKey:
          $ref: '#/components/schemas/SecretBase'
          description: The key of the service principal used to authenticate against the ARM-based updateResourceEndpoint
            of an Azure ML Studio web service.
        tenant:
          description: 'The name or ID of the tenant to which the service principal belongs. Type: string (or Expression with
            resultType string).'
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
        authentication:
          description: 'Type of authentication (Required to specify MSI) used to connect to AzureML. Type: string (or Expression
            with resultType string).'
      required:
      - mlEndpoint
      - apiKey
    AzureMLServiceLinkedService:
      type: object
      description: Azure ML Service linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureMLServiceLinkedServiceTypeProperties'
          description: Azure ML Service linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureMLService
    AzureMLServiceLinkedServiceTypeProperties:
      type: object
      description: Azure ML Service linked service properties.
      properties:
        subscriptionId:
          description: 'Azure ML Service workspace subscription ID. Type: string (or Expression with resultType string).'
        resourceGroupName:
          description: 'Azure ML Service workspace resource group name. Type: string (or Expression with resultType string).'
        mlWorkspaceName:
          description: 'Azure ML Service workspace name. Type: string (or Expression with resultType string).'
        authentication:
          description: 'Type of authentication (Required to specify MSI) used to connect to AzureML. Type: string (or Expression
            with resultType string).'
        servicePrincipalId:
          description: 'The ID of the service principal used to authenticate against the endpoint of a published Azure ML
            Service pipeline. Type: string (or Expression with resultType string).'
        servicePrincipalKey:
          $ref: '#/components/schemas/SecretBase'
          description: The key of the service principal used to authenticate against the endpoint of a published Azure ML
            Service pipeline.
        tenant:
          description: 'The name or ID of the tenant to which the service principal belongs. Type: string (or Expression with
            resultType string).'
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
      required:
      - subscriptionId
      - resourceGroupName
      - mlWorkspaceName
    AzureMariaDBLinkedService:
      type: object
      description: Azure Database for MariaDB linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureMariaDBLinkedServiceTypeProperties'
          description: Azure Database for MariaDB linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureMariaDB
    AzureMariaDBLinkedServiceTypeProperties:
      type: object
      description: Azure Database for MariaDB linked service properties.
      properties:
        connectionString:
          description: 'An ODBC connection string. Type: string, SecureString or AzureKeyVaultSecretReference.'
        pwd:
          $ref: '#/components/schemas/AzureKeyVaultSecretReference'
          description: The Azure key vault secret reference of password in connection string.
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
    AzureMariaDBTableDataset:
      type: object
      description: Azure Database for MariaDB dataset.
      properties:
        typeProperties:
          $ref: '#/components/schemas/GenericDatasetTypeProperties'
          description: Properties specific to this dataset type.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AzureMariaDBTable
    AzureMySqlLinkedService:
      type: object
      description: Azure MySQL database linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureMySqlLinkedServiceTypeProperties'
          description: Azure MySQL database linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureMySql
    AzureMySqlLinkedServiceTypeProperties:
      type: object
      description: Azure MySQL database linked service properties.
      properties:
        connectionString:
          description: 'The connection string. Type: string, SecureString or AzureKeyVaultSecretReference.'
        password:
          $ref: '#/components/schemas/AzureKeyVaultSecretReference'
          description: The Azure key vault secret reference of password in connection string.
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
      required:
      - connectionString
    AzureMySqlTableDataset:
      type: object
      description: The Azure MySQL database dataset.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureMySqlTableDatasetTypeProperties'
          description: Azure MySQL database dataset properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AzureMySqlTable
    AzureMySqlTableDatasetTypeProperties:
      type: object
      description: Azure MySQL database dataset properties.
      properties:
        tableName:
          description: 'The Azure MySQL database table name. Type: string (or Expression with resultType string).'
        table:
          description: 'The name of Azure MySQL database table. Type: string (or Expression with resultType string).'
    AzurePostgreSqlLinkedService:
      type: object
      description: Azure PostgreSQL linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzurePostgreSqlLinkedServiceTypeProperties'
          description: Azure PostgreSQL linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzurePostgreSql
    AzurePostgreSqlLinkedServiceTypeProperties:
      type: object
      description: Azure PostgreSQL linked service properties.
      properties:
        connectionString:
          description: 'An ODBC connection string. Type: string, SecureString or AzureKeyVaultSecretReference.'
        server:
          description: 'Server name for connection. Type: string.'
        port:
          description: 'The port for the connection. Type: integer.'
        username:
          description: 'Username for authentication. Type: string.'
        database:
          description: 'Database name for connection. Type: string.'
        sslMode:
          description: 'SSL mode for connection. Type: integer. 0: disable, 1:allow, 2: prefer, 3: require, 4: verify-ca,
            5: verify-full. Type: integer.'
        timeout:
          description: 'The time to wait (in seconds) while trying to establish a connection before terminating the attempt
            and generating an error. Type: integer.'
        commandTimeout:
          description: 'The time to wait (in seconds) while trying to execute a command before terminating the attempt and
            generating an error. Set to zero for infinity. Type: integer.'
        trustServerCertificate:
          description: 'Whether to trust the server certificate without validating it. Type: boolean.'
        readBufferSize:
          description: 'Determines the size of the internal buffer uses when reading. Increasing may improve performance if
            transferring large values from the database. Type: integer.'
        timezone:
          description: 'Gets or sets the session timezone. Type: string.'
        encoding:
          description: 'Gets or sets the .NET encoding that will be used to encode/decode PostgreSQL string data. Type: string'
        password:
          $ref: '#/components/schemas/AzureKeyVaultSecretReference'
          description: The Azure key vault secret reference of password in connection string.
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
        servicePrincipalId:
          description: 'The ID of the service principal used to authenticate against Azure Database for PostgreSQL Flexible
            server. Type: string (or Expression with resultType string).'
        servicePrincipalKey:
          $ref: '#/components/schemas/SecretBase'
          description: The key of the service principal used to authenticate against Azure Database for PostgreSQL Flexible
            server.
        servicePrincipalCredentialType:
          description: 'The service principal credential type to use in Server-To-Server authentication. ''ServicePrincipalKey''
            for key/secret, ''ServicePrincipalCert'' for certificate. Type: string (or Expression with resultType string).'
        servicePrincipalEmbeddedCert:
          $ref: '#/components/schemas/SecretBase'
          description: 'Specify the base64 encoded certificate of your application registered in Azure Active Directory. Type:
            string (or Expression with resultType string).'
        servicePrincipalEmbeddedCertPassword:
          $ref: '#/components/schemas/SecretBase'
          description: 'Specify the password of your certificate if your certificate has a password and you are using AadServicePrincipal
            authentication. Type: string (or Expression with resultType string).'
        tenant:
          description: 'The name or ID of the tenant to which the service principal belongs. Type: string (or Expression with
            resultType string).'
        azureCloudType:
          description: 'Indicates the azure cloud type of the service principle auth. Allowed values are AzurePublic, AzureChina,
            AzureUsGovernment, AzureGermany. Default value is the data factory regions’ cloud type. Type: string (or Expression
            with resultType string).'
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
    AzurePostgreSqlTableDataset:
      type: object
      description: Azure PostgreSQL dataset.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzurePostgreSqlTableDatasetTypeProperties'
          description: Properties specific to this dataset type.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AzurePostgreSqlTable
    AzurePostgreSqlTableDatasetTypeProperties:
      type: object
      description: Azure PostgreSQL dataset properties.
      properties:
        tableName:
          description: 'The table name of the Azure PostgreSQL database which includes both schema and table. Type: string
            (or Expression with resultType string).'
        table:
          description: 'The table name of the Azure PostgreSQL database. Type: string (or Expression with resultType string).'
        schema:
          description: 'The schema name of the Azure PostgreSQL database. Type: string (or Expression with resultType string).'
    AzureSearchIndexDataset:
      type: object
      description: The Azure Search Index.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureSearchIndexDatasetTypeProperties'
          description: Properties specific to this dataset type.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AzureSearchIndex
    AzureSearchIndexDatasetTypeProperties:
      type: object
      description: Properties specific to this dataset type.
      properties:
        indexName:
          description: 'The name of the Azure Search Index. Type: string (or Expression with resultType string).'
      required:
      - indexName
    AzureSearchLinkedService:
      type: object
      description: Linked service for Windows Azure Search Service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureSearchLinkedServiceTypeProperties'
          description: Windows Azure Search Service linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureSearch
    AzureSearchLinkedServiceTypeProperties:
      type: object
      description: Windows Azure Search Service linked service properties.
      properties:
        url:
          description: 'URL for Azure Search service. Type: string (or Expression with resultType string).'
        key:
          $ref: '#/components/schemas/SecretBase'
          description: Admin Key for Azure Search service
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
      required:
      - url
    AzureSqlDWAuthenticationType:
      type: string
      description: 'The type used for authentication. Type: string.'
      enum:
      - SQL
      - ServicePrincipal
      - SystemAssignedManagedIdentity
      - UserAssignedManagedIdentity
      x-ms-enum:
        name: AzureSqlDWAuthenticationType
        modelAsString: true
        values:
        - name: SQL
          value: SQL
          description: SQL
        - name: ServicePrincipal
          value: ServicePrincipal
          description: ServicePrincipal
        - name: SystemAssignedManagedIdentity
          value: SystemAssignedManagedIdentity
          description: SystemAssignedManagedIdentity
        - name: UserAssignedManagedIdentity
          value: UserAssignedManagedIdentity
          description: UserAssignedManagedIdentity
    AzureSqlDWLinkedService:
      type: object
      description: Azure SQL Data Warehouse linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureSqlDWLinkedServiceTypeProperties'
          description: Azure SQL Data Warehouse linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureSqlDW
    AzureSqlDWLinkedServiceTypeProperties:
      type: object
      description: Azure SQL Data Warehouse linked service properties.
      properties:
        connectionString:
          description: 'The connection string. Type: string, SecureString or AzureKeyVaultSecretReference. Type: string, SecureString
            or AzureKeyVaultSecretReference.'
        authenticationType:
          $ref: '#/components/schemas/AzureSqlDWAuthenticationType'
          description: 'The type used for authentication. Type: string.'
        userName:
          description: 'The user name to be used when connecting to server. Type: string (or Expression with resultType string).'
        password:
          $ref: '#/components/schemas/AzureKeyVaultSecretReference'
          description: The Azure key vault secret reference of password in connection string.
        servicePrincipalId:
          description: 'The ID of the service principal used to authenticate against Azure SQL Data Warehouse. Type: string
            (or Expression with resultType string).'
        servicePrincipalKey:
          $ref: '#/components/schemas/SecretBase'
          description: The key of the service principal used to authenticate against Azure SQL Data Warehouse.
        servicePrincipalCredentialType:
          description: 'The service principal credential type to use in Server-To-Server authentication. ''ServicePrincipalKey''
            for key/secret, ''ServicePrincipalCert'' for certificate. Type: string (or Expression with resultType string).'
        servicePrincipalCredential:
          $ref: '#/components/schemas/SecretBase'
          description: The credential of the service principal object in Azure Active Directory. If servicePrincipalCredentialType
            is 'ServicePrincipalKey', servicePrincipalCredential can be SecureString or AzureKeyVaultSecretReference. If servicePrincipalCredentialType
            is 'ServicePrincipalCert', servicePrincipalCredential can only be AzureKeyVaultSecretReference.
        tenant:
          description: 'The name or ID of the tenant to which the service principal belongs. Type: string (or Expression with
            resultType string).'
        azureCloudType:
          description: 'Indicates the azure cloud type of the service principle auth. Allowed values are AzurePublic, AzureChina,
            AzureUsGovernment, AzureGermany. Default value is the data factory regions’ cloud type. Type: string (or Expression
            with resultType string).'
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
      allOf:
      - $ref: '#/components/schemas/SqlServerBaseLinkedServiceTypeProperties'
    AzureSqlDWTableDataset:
      type: object
      description: The Azure SQL Data Warehouse dataset.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureSqlDWTableDatasetTypeProperties'
          description: Azure SQL Data Warehouse dataset properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Dataset'
      x-ms-discriminator-value: AzureSqlDWTable
    AzureSqlDWTableDatasetTypeProperties:
      type: object
      description: Azure SQL Data Warehouse dataset properties.
      properties:
        tableName:
          description: This property will be retired. Please consider using schema + table properties instead.
        schema:
          description: 'The schema name of the Azure SQL Data Warehouse. Type: string (or Expression with resultType string).'
        table:
          description: 'The table name of the Azure SQL Data Warehouse. Type: string (or Expression with resultType string).'
    AzureSqlDatabaseAuthenticationType:
      type: string
      description: 'The type used for authentication. Type: string.'
      enum:
      - SQL
      - ServicePrincipal
      - SystemAssignedManagedIdentity
      - UserAssignedManagedIdentity
      x-ms-enum:
        name: AzureSqlDatabaseAuthenticationType
        modelAsString: true
        values:
        - name: SQL
          value: SQL
          description: SQL
        - name: ServicePrincipal
          value: ServicePrincipal
          description: ServicePrincipal
        - name: SystemAssignedManagedIdentity
          value: SystemAssignedManagedIdentity
          description: SystemAssignedManagedIdentity
        - name: UserAssignedManagedIdentity
          value: UserAssignedManagedIdentity
          description: UserAssignedManagedIdentity
    AzureSqlDatabaseLinkedService:
      type: object
      description: Microsoft Azure SQL Database linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureSqlDatabaseLinkedServiceTypeProperties'
          description: Azure SQL Database linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureSqlDatabase
    AzureSqlDatabaseLinkedServiceTypeProperties:
      type: object
      description: Azure SQL Database linked service properties.
      properties:
        connectionString:
          description: 'The connection string. Type: string, SecureString or AzureKeyVaultSecretReference.'
        authenticationType:
          $ref: '#/components/schemas/AzureSqlDatabaseAuthenticationType'
          description: 'The type used for authentication. Type: string.'
        userName:
          description: 'The user name to be used when connecting to server. Type: string (or Expression with resultType string).'
        password:
          $ref: '#/components/schemas/AzureKeyVaultSecretReference'
          description: The Azure key vault secret reference of password in connection string.
        servicePrincipalId:
          description: 'The ID of the service principal used to authenticate against Azure SQL Database. Type: string (or
            Expression with resultType string).'
        servicePrincipalKey:
          $ref: '#/components/schemas/SecretBase'
          description: The key of the service principal used to authenticate against Azure SQL Database.
        servicePrincipalCredentialType:
          description: 'The service principal credential type to use in Server-To-Server authentication. ''ServicePrincipalKey''
            for key/secret, ''ServicePrincipalCert'' for certificate. Type: string (or Expression with resultType string).'
        servicePrincipalCredential:
          $ref: '#/components/schemas/SecretBase'
          description: The credential of the service principal object in Azure Active Directory. If servicePrincipalCredentialType
            is 'ServicePrincipalKey', servicePrincipalCredential can be SecureString or AzureKeyVaultSecretReference. If servicePrincipalCredentialType
            is 'ServicePrincipalCert', servicePrincipalCredential can only be AzureKeyVaultSecretReference.
        tenant:
          description: 'The name or ID of the tenant to which the service principal belongs. Type: string (or Expression with
            resultType string).'
        azureCloudType:
          description: 'Indicates the azure cloud type of the service principle auth. Allowed values are AzurePublic, AzureChina,
            AzureUsGovernment, AzureGermany. Default value is the data factory regions’ cloud type. Type: string (or Expression
            with resultType string).'
        encryptedCredential:
          type: string
          description: 'The encrypted credential used for authentication. Credentials are encrypted using the integration
            runtime credential manager. Type: string.'
        alwaysEncryptedSettings:
          $ref: '#/components/schemas/SqlAlwaysEncryptedProperties'
          description: Sql always encrypted properties.
        credential:
          $ref: '#/components/schemas/CredentialReference'
          description: The credential reference containing authentication information.
      allOf:
      - $ref: '#/components/schemas/SqlServerBaseLinkedServiceTypeProperties'
    AzureSqlMIAuthenticationType:
      type: string
      description: 'The type used for authentication. Type: string.'
      enum:
      - SQL
      - ServicePrincipal
      - SystemAssignedManagedIdentity
      - UserAssignedManagedIdentity
      x-ms-enum:
        name: AzureSqlMIAuthenticationType
        modelAsString: true
        values:
        - name: SQL
          value: SQL
          description: SQL
        - name: ServicePrincipal
          value: ServicePrincipal
          description: ServicePrincipal
        - name: SystemAssignedManagedIdentity
          value: SystemAssignedManagedIdentity
          description: SystemAssignedManagedIdentity
        - name: UserAssignedManagedIdentity
          value: UserAssignedManagedIdentity
          description: UserAssignedManagedIdentity
    AzureSqlMILinkedService:
      type: object
      description: Azure SQL Managed Instance linked service.
      properties:
        typeProperties:
          $ref: '#/components/schemas/AzureSqlMILinkedServiceTypeProperties'
          description: Azure SQL Managed Instance linked service properties.
          x-ms-client-flatten: true
      required:
      - typeProperties
      allOf:
      - $ref: '#/components/schemas/LinkedService'
      x-ms-discriminator-value: AzureSqlMI
    AzureSqlMILinkedServiceTypeProperties:
      type: object
      description: Azure SQL Managed Instance linked service properties.
      properties:
        connectionString:
          description: 'The connection string. Type: string, SecureString or AzureKeyVaultSecretReference.'
        authenticationType:
          $ref: '#/components/schemas/AzureSqlMIAuthenticationType'
          description: 'The type used for authentication. Type: string.'
        userName:
          description: 'The user name to be used when connecting to server. Type: string (or Expression with resultType string).'
        password:
[...]
