openapi: 3.2.0
info:
  title: DataFactoryManagementClient Private End Point Connections…
  version: '2018-06-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: privateEndPointConnections
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/privateEndpointConnections
  : get:
      operationId: privateEndPointConnections_ListByFactory
      tags:
      - privateEndPointConnections
      description: Lists Private endpoint connections
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        privateEndPointConnections_ListByFactory:
          $ref: ./examples/PrivateEndPointConnections_ListByFactory.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Private end point connections list by factory
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/privateEndpointConnections/{privateEndpointConnectionName}
  : get:
      operationId: PrivateEndpointConnection_Get
      tags:
      - privateEndPointConnections
      description: Gets a private endpoint connection
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: privateEndpointConnectionName
        in: path
        description: The private endpoint connection name.
        required: true
        schema:
          type: string
      - name: if-none-match
        in: header
        description: ETag of the private endpoint connection entity. Should only be specified for get. If the ETag matches the existing entity tag, or if * was provided, then no content will be returned.
        required: false
        x-ms-client-name: If-None-Match
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get a private endpoint connection for a datafactory.:
          $ref: ./examples/GetPrivateEndpointConnection.json
      summary: Private endpoint connection get
      x-summary-source: derived
    put:
      operationId: PrivateEndpointConnection_CreateOrUpdate
      tags:
      - privateEndPointConnections
      description: Approves or rejects a private endpoint connection
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: privateEndpointConnectionName
        in: path
        description: The private endpoint connection name.
        required: true
        schema:
          type: string
      - name: if-match
        in: header
        description: ETag of the private endpoint connection entity.  Should only be specified for update, for which it should match existing entity or can be * for unconditional update.
        required: false
        x-ms-client-name: If-Match
        schema:
          type: string
      responses:
        '200':
          description: Resource 'PrivateEndpointConnectionResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Approves or rejects a private endpoint connection for a factory.:
          $ref: ./examples/ApproveRejectPrivateEndpointConnection.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkConnectionApprovalRequestResource'
        required: true
      summary: Private endpoint connection create or update
      x-summary-source: derived
    delete:
      operationId: PrivateEndpointConnection_Delete
      tags:
      - privateEndPointConnections
      description: Deletes a private endpoint connection
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: privateEndpointConnectionName
        in: path
        description: The private endpoint connection name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Delete a private endpoint connection for a datafactory.:
          $ref: ./examples/DeletePrivateEndpointConnection.json
      summary: Private endpoint connection delete
      x-summary-source: derived
components:
  schemas:
    ArmIdWrapper:
      type: object
      description: A wrapper for an ARM resource id
      properties:
        id:
          type: string
          readOnly: true
    RemotePrivateEndpointConnection:
      type: object
      description: A remote private endpoint connection
      properties:
        provisioningState:
          type: string
          readOnly: true
        privateEndpoint:
          $ref: '#/components/schemas/ArmIdWrapper'
          description: PrivateEndpoint of a remote private endpoint connection
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkConnectionState'
          description: The state of a private link connection
    CloudErrorBody:
      type: object
      description: The object that defines the structure of an Azure Data Factory error.
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Property name/path in request associated with error.
        details:
          type: array
          description: Array with additional error details.
          items:
            $ref: '#/components/schemas/CloudError'
          x-ms-identifiers: []
      required:
      - code
      - message
      x-ms-external: true
    PrivateLinkConnectionState:
      type: object
      description: The state of a private link connection
      properties:
        status:
          type: string
          description: Status of a private link connection
        description:
          type: string
          description: Description of a private link connection
        actionsRequired:
          type: string
          description: ActionsRequired for a private link connection
    PrivateEndpointConnectionListResponse:
      type: object
      description: A list of linked service resources.
      properties:
        value:
          type: array
          description: The PrivateEndpointConnectionResource items on this page
          items:
            $ref: '#/components/schemas/PrivateEndpointConnectionResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    PrivateEndpointConnectionResource:
      type: object
      description: Private Endpoint Connection ARM resource.
      properties:
        properties:
          $ref: '#/components/schemas/RemotePrivateEndpointConnection'
          description: Core resource properties
        etag:
          type: string
          description: '"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.")'
          readOnly: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource
    CloudError:
      type: object
      description: The object that defines the structure of an Azure Data Factory error response.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Error data
          x-ms-client-flatten: true
      required:
      - error
      x-ms-external: true
    PrivateLinkConnectionApprovalRequest:
      type: object
      description: A request to approve or reject a private endpoint connection
      properties:
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkConnectionState'
          description: The state of a private link connection
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
          description: The resource of private endpoint.
    PrivateLinkConnectionApprovalRequestResource:
      type: object
      description: Private Endpoint Connection Approval ARM resource.
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkConnectionApprovalRequest'
          description: Core resource properties
      allOf:
      - $ref: '#/components/schemas/SubResource'
    SubResource:
      type: object
      description: Azure Data Factory nested resource, which belongs to a factory.
      properties:
        id:
          type: string
          description: The resource identifier.
          readOnly: true
        name:
          type: string
          description: The resource name.
          readOnly: true
        type:
          type: string
          description: The resource type.
          readOnly: true
        etag:
          type: string
          description: Etag identifies change in the resource.
          readOnly: true
    PrivateEndpoint:
      type: object
      description: Private endpoint which a connection belongs to.
      properties:
        id:
          type: string
          description: The resource Id for private endpoint
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
