openapi: 3.2.0
info:
  title: DataFactoryManagementClient Exposure Control API
  version: '2018-06-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: exposureControl
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DataFactory/locations/{locationId}/getFeatureValue:
    post:
      operationId: ExposureControl_GetFeatureValue
      tags:
      - exposureControl
      description: Get exposure control feature for specific location.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - name: locationId
        in: path
        description: The location identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExposureControlResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ExposureControl_GetFeatureValue:
          $ref: ./examples/ExposureControl_GetFeatureValue.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExposureControlRequest'
        description: The request body
        required: true
      summary: Exposure control get feature value
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/getFeatureValue
  : post:
      operationId: ExposureControl_GetFeatureValueByFactory
      tags:
      - exposureControl
      description: Get exposure control feature for specific factory.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExposureControlResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ExposureControl_GetFeatureValueByFactory:
          $ref: ./examples/ExposureControl_GetFeatureValueByFactory.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExposureControlRequest'
        description: The exposure control request.
        required: true
      summary: Exposure control get feature value by factory
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/queryFeaturesValue
  : post:
      operationId: ExposureControl_QueryFeatureValuesByFactory
      tags:
      - exposureControl
      description: Get list of exposure control features for specific factory.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExposureControlBatchResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ExposureControl_QueryFeatureValuesByFactory:
          $ref: ./examples/ExposureControl_QueryFeatureValuesByFactory.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExposureControlBatchRequest'
        description: The exposure control request for list of features.
        required: true
      summary: Exposure control query feature values by factory
      x-summary-source: derived
components:
  schemas:
    CloudError:
      type: object
      description: The object that defines the structure of an Azure Data Factory error response.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Error data
          x-ms-client-flatten: true
      required:
      - error
      x-ms-external: true
    ExposureControlBatchResponse:
      type: object
      description: A list of exposure control feature values.
      properties:
        exposureControlResponses:
          type: array
          description: List of exposure control feature values.
          items:
            $ref: '#/components/schemas/ExposureControlResponse'
          x-ms-identifiers:
          - featureName
      required:
      - exposureControlResponses
    ExposureControlResponse:
      type: object
      description: The exposure control response.
      properties:
        featureName:
          type: string
          description: The feature name.
          readOnly: true
        value:
          type: string
          description: The feature value.
          readOnly: true
    ExposureControlRequest:
      type: object
      description: The exposure control request.
      properties:
        featureName:
          type: string
          description: The feature name.
        featureType:
          type: string
          description: The feature type.
    CloudErrorBody:
      type: object
      description: The object that defines the structure of an Azure Data Factory error.
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Property name/path in request associated with error.
        details:
          type: array
          description: Array with additional error details.
          items:
            $ref: '#/components/schemas/CloudError'
          x-ms-identifiers: []
      required:
      - code
      - message
      x-ms-external: true
    ExposureControlBatchRequest:
      type: object
      description: A list of exposure control features.
      properties:
        exposureControlRequests:
          type: array
          description: List of exposure control features.
          items:
            $ref: '#/components/schemas/ExposureControlRequest'
          x-ms-identifiers:
          - featureName
      required:
      - exposureControlRequests
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
