openapi: 3.2.0
info:
  title: DataFactoryManagementClient Global Parameters API
  version: '2018-06-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: globalParameters
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/globalParameters
  : get:
      operationId: GlobalParameters_ListByFactory
      tags:
      - globalParameters
      description: Lists Global parameters
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalParameterListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GlobalParameters_ListByFactory:
          $ref: ./examples/GlobalParameters_ListByFactory.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Global parameters list by factory
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/globalParameters/{globalParameterName}
  : get:
      operationId: GlobalParameters_Get
      tags:
      - globalParameters
      description: Gets a Global parameter
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: globalParameterName
        in: path
        description: The global parameter name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalParameterResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GlobalParameters_Get:
          $ref: ./examples/GlobalParameters_Get.json
      summary: Global parameters get
      x-summary-source: derived
    put:
      operationId: GlobalParameters_CreateOrUpdate
      tags:
      - globalParameters
      description: Creates or updates a Global parameter
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: globalParameterName
        in: path
        description: The global parameter name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      responses:
        '200':
          description: Resource 'GlobalParameterResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalParameterResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GlobalParameters_Create:
          $ref: ./examples/GlobalParameters_Create.json
        GlobalParameters_Update:
          $ref: ./examples/GlobalParameters_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalParameterResource'
        description: Global parameter resource definition.
        required: true
      summary: Global parameters create or update
      x-summary-source: derived
    delete:
      operationId: GlobalParameters_Delete
      tags:
      - globalParameters
      description: Deletes a Global parameter
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: globalParameterName
        in: path
        description: The global parameter name.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GlobalParameters_Delete:
          $ref: ./examples/GlobalParameters_Delete.json
      summary: Global parameters delete
      x-summary-source: derived
components:
  schemas:
    CloudErrorBody:
      type: object
      description: The object that defines the structure of an Azure Data Factory error.
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Property name/path in request associated with error.
        details:
          type: array
          description: Array with additional error details.
          items:
            $ref: '#/components/schemas/CloudError'
          x-ms-identifiers: []
      required:
      - code
      - message
      x-ms-external: true
    GlobalParameterListResponse:
      type: object
      description: A list of Global parameters.
      properties:
        value:
          type: array
          description: The GlobalParameterResource items on this page
          items:
            $ref: '#/components/schemas/GlobalParameterResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    GlobalParameterSpecification:
      type: object
      description: Definition of a single parameter for an entity.
      properties:
        type:
          $ref: '#/components/schemas/GlobalParameterType'
          description: Global Parameter type.
        value:
          description: Value of parameter.
      required:
      - type
      - value
    GlobalParameterType:
      type: string
      description: Global Parameter type.
      enum:
      - Object
      - String
      - Int
      - Float
      - Bool
      - Array
      x-ms-enum:
        name: GlobalParameterType
        modelAsString: true
        values:
        - name: Object
          value: Object
          description: Object
        - name: String
          value: String
          description: String
        - name: Int
          value: Int
          description: Int
        - name: Float
          value: Float
          description: Float
        - name: Bool
          value: Bool
          description: Bool
        - name: Array
          value: Array
          description: Array
    CloudError:
      type: object
      description: The object that defines the structure of an Azure Data Factory error response.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Error data
          x-ms-client-flatten: true
      required:
      - error
      x-ms-external: true
    GlobalParameterResource:
      type: object
      description: Global parameters resource type.
      properties:
        properties:
          type: object
          description: Properties of the global parameter.
          additionalProperties:
            $ref: '#/components/schemas/GlobalParameterSpecification'
        etag:
          type: string
          description: '"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.")'
          readOnly: true
      required:
      - properties
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
