openapi: 3.2.0
info:
  title: DataFactoryManagementClient Integration Runtime Object…
  version: '2018-06-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: integrationRuntimeObjectMetadata
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/getObjectMetadata
  : post:
      operationId: IntegrationRuntimeObjectMetadata_Get
      tags:
      - integrationRuntimeObjectMetadata
      description: Get a SSIS integration runtime object metadata by specified path. The return is pageable metadata list.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        description: The integration runtime name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsisObjectMetadataListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimeObjectMetadata_Get:
          $ref: ./examples/IntegrationRuntimeObjectMetadata_Get.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSsisObjectMetadataRequest'
        description: The parameters for getting a SSIS object metadata.
      summary: Integration runtime object metadata get
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/refreshObjectMetadata
  : post:
      operationId: IntegrationRuntimeObjectMetadata_Refresh
      tags:
      - integrationRuntimeObjectMetadata
      description: Refresh a SSIS integration runtime object metadata.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: factoryName
        in: path
        description: The factory name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: integrationRuntimeName
        in: path
        description: The integration runtime name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsisObjectMetadataStatusResponse'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        IntegrationRuntimeObjectMetadata_Refresh:
          $ref: ./examples/IntegrationRuntimeObjectMetadata_Refresh.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/SsisObjectMetadataStatusResponse'
      x-ms-long-running-operation: true
      summary: Integration runtime object metadata refresh
      x-summary-source: derived
components:
  schemas:
    SsisObjectMetadataListResponse:
      type: object
      description: A list of SSIS object metadata.
      properties:
        value:
          type: array
          description: The SsisObjectMetadata items on this page
          items:
            $ref: '#/components/schemas/SsisObjectMetadata'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    SsisObjectMetadata:
      type: object
      description: SSIS object metadata.
      properties:
        type:
          $ref: '#/components/schemas/SsisObjectMetadataType'
          description: Type of metadata.
        id:
          type: integer
          format: int64
          description: Metadata id.
        name:
          type: string
          description: Metadata name.
        description:
          type: string
          description: Metadata description.
      discriminator:
        propertyName: type
      required:
      - type
    CloudErrorBody:
      type: object
      description: The object that defines the structure of an Azure Data Factory error.
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Property name/path in request associated with error.
        details:
          type: array
          description: Array with additional error details.
          items:
            $ref: '#/components/schemas/CloudError'
          x-ms-identifiers: []
      required:
      - code
      - message
      x-ms-external: true
    GetSsisObjectMetadataRequest:
      type: object
      description: The request payload of get SSIS object metadata.
      properties:
        metadataPath:
          type: string
          description: Metadata path.
    SsisObjectMetadataType:
      type: string
      description: The type of SSIS object metadata.
      enum:
      - Folder
      - Project
      - Package
      - Environment
      x-ms-enum:
        name: SsisObjectMetadataType
        modelAsString: true
        values:
        - name: Folder
          value: Folder
          description: Folder
        - name: Project
          value: Project
          description: Project
        - name: Package
          value: Package
          description: Package
        - name: Environment
          value: Environment
          description: Environment
    CloudError:
      type: object
      description: The object that defines the structure of an Azure Data Factory error response.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Error data
          x-ms-client-flatten: true
      required:
      - error
      x-ms-external: true
    SsisObjectMetadataStatusResponse:
      type: object
      description: The status of the operation.
      properties:
        status:
          type: string
          description: The status of the operation.
        name:
          type: string
          description: The operation name.
        properties:
          type: string
          description: The operation properties.
        error:
          type: string
          description: The operation error message.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
